<div class="location mod-info">
  <div class="mod-location">
    <h3>Location</h3>
    <img src="http://maps.google.com/maps/api/staticmap?size=302x189&maptype=roadmap&style=feature:all|element:labels|visibility:off&style=feature:road|element:all|visibility:off&style=feature:administrative.province|element:all|visibility:off&style=feature:water|element:all|hue:0x00c3ff&sensor=false&center=<%=@area.center_lat%>,<%=@area.center_lon%>&zoom=3&markers=icon:http://www.ngoaidmap.org/images/themes/<%=@site.theme_id%>/marker_1.png|<%=@area.center_lat%>,<%=@area.center_lon%>"/>
  </div>
</div>
