<div class="project-sectors mod-info">
  <h3>Project sectors</h3>
  <div class="mod-project-sectors">
    <ul id="clustersView">
      <% @donor.projects_sectors_or_clusters(@site, @filter_by_location, @filter_by_organization, params[:location_id] && params[:location_id].to_s.match(/\//) ? true : false ).each do |category, count| %>
        <% unless category.name.eql?('N/A') %>
          <li>
            <a class="<%= category.css_class %> icon_statistics" title="<%= category.name %>" href="<%= donor_path(@donor, @carry_on_filters.merge(:category_id => category.id)) %>" data-value="<%= count %>"><span class="aller"><%= count %></span></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
