<p class="filtered">
  <strong>Showing</strong>:
  <strong>
    {{name}}
    {{#if breadcrumbs}}, {{{breadcrumbs}}}{{/if}}
  </strong>,
  {{count}} {{sector}} {{projects_string}} {{#if organization}}by {{organization}}{{/if}} {{#if country}}in {{country}}{{/if}}
</p>
