<div class="project-locations mod-info">
  <h3>Project locations</h3>
  <div class="mod-project-locations">
    <ul class="chart">
      {{#each locations}}
        <li class="pos{{@index}}"><a href="{{this.url}}">{{this.name}}</a> - {{this.count}}</li>
      {{/each}}
      <li class="pos3">Others - {{this.other}}</li>
    </ul>
    <img alt="Chart?cht=p&amp;chs=120x120&amp;chd=t:{{values}}&amp;chds=0,{{this.other}}&amp;chco=333333|565656|727272|adadad|efefef|ffffff&amp;chf=bg,s,ffffff00" class="pie_chart" src="http://chart.apis.google.com/chart?cht=p&amp;chs=120x120&amp;chd=t:{{values}}&amp;chds=0,{{this.other}}&amp;chco=333333|565656|727272|ADADAD|EFEFEF|FFFFFF&amp;chf=bg,s,FFFFFF00">
  </div>
</div>
