<div class="row">
  <div class="mod-backoffice-menu">
    <a href="http://<%= Settings.main_site_host %>" class="interaction-logo"><%= image_tag "interaction-white.svg", :alt  => "interaction logo", :height => '98', :width => '150' %></a>
  </div>
</div>
<div class="row">
  <div class="grid-6 offset-3">
    <div class="mod-login">
      <h1>Login</h1>
      <%= form_tag session_path do -%>

          <%= label_tag 'email' %>
          <%= text_field_tag 'email', @email, :class=>(flash[:alert] ? "error museo_sans" : "museo_sans") %>
          <%= label_tag 'password' %>
          <%= password_field_tag 'password', nil, :class=>(flash[:alert] ? "error museo_sans" : "museo_sans")%>
          <% if flash[:alert] %>
            <%= raw flash[:alert] %>
          <% end %>
          <%= submit_tag 'Sign in', :id=>'sign-in' %>
          <%= link_to 'Forgot your password?', new_passwords_path, :class=> 'forgot-pass'%>
      <% end -%>
      <div class="footer"></div>
    </div>
  </div>
</div>
