
  <div id="layout">
    <div id="pages">
      <div class="left" id="relative_content">
        <div class="outer_head">
          <div class="head">
            <%= link_to "Office of #{@organization.name}", organization_path(@organization) %>
            <h1><%= @office.name.html_safe %></h1>
            <p>Funding <%= pluralize(@organization.donors.site(@site).count, 'project', 'projects') %></p>
          </div>
        </div>
        <div class="results_list" id="projects">
          <%= render :partial => 'offices/projects' %>
        </div>
      </div>

      <div class="right">
        <!-- CLUSTER -->
        <div class="block border statistics">
          <h2>PROJECT <%= @site.word_for_cluster_sector %></h2>
          <ul class="statistics_list">
            <% @organization.projects_sectors_or_clusters(@site)[0...3].each do |category,count| %>
              <li>
                <div class="tooltip">
                  <span class="body_tooltip">
                    <label><%= category.name %></label>
                  </span>
                  <span class="bottom_tooltip"></span>
                </div>
                <a class="<%= category.css_class %> icon_statistics" href="<%= category.is_a?(Cluster) ? cluster_path(category) : sector_path(category) %>"><span class="aller" style="width:<%= cluster_sector_width(count, @organization.projects_sectors_or_clusters(@site)[0...3].map{|e| e.last}.max) %>px"><%= count %></span></a>
              </li>
            <% end %>
          </ul>
          <% unless @organization.projects_sectors_or_clusters(@site).size < 4%>
              <p class="other">and <%= pluralize(@organization.projects_sectors_or_clusters(@site).size - 3,"more #{@site.word_for_cluster_sector.singularize}", "more #{@site.word_for_cluster_sector.pluralize}") %></p>
          <% end %>
        </div>

        <!-- PROJECTS BY AREA -->
        <div class="block border statistics">
          <h2>PROJECT LOCATIONS</h2>
          <% if @site.navigate_by_country? %>
            <%= raw(projects_by_location(@site, @organization.projects_countries(@site))) %>
          <% else %>
            <%= raw(projects_by_location(@site, @organization.projects_regions(@site))) %>
          <% end %>
        </div>

        <% unless @organization.resources.empty? %>
        <div class="block border">
          <h2>Additional information</h2>
          <ul>
            <% @organization.resources.each do |resource| %>
            <li><%= link_to(resource.title, resource.url, :rel => 'nofollow', :target => '_blank') %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <% unless (@organization.contact_name.blank?)&&(@organization.contact_position.blank?)&&(@organization.contact_phone_number.blank?)&&(@organization.contact_email.blank?) %>
        <div class="block border last">
          <h2>Contact information</h2>
          <p><strong><%= @organization.contact_name %></strong><br/><%= @organization.contact_position %></p>
          <p><%= @organization.contact_phone_number %><br/><%= link_to(@organization.contact_email, "mailto:#{@organization.contact_email}") %></p>
        </div>
        <% end %>

      </div>

    </div>

    <script src="/javascripts/sites/pages.js" type="text/javascript" charset="utf-8"></script>
