<div class="mod-project-budget">
  <h3>Project budget</h3>
  {{#if this.budgetUsdString}}
    $<span id="projectBudgetValue" class="font-small">{{this.budgetUsdString}}</span>
    {{#if this.budget_currency}}
      <span class="font-extrasmall">Converted from {{this.budgetString}} {{this.budget_currency}}</span>
    {{/if}}
  {{else}}
    <span id="projectBudgetValue" class="font-small">{{this.budgetString}}</span>
    {{#if this.budget_currency}}
      <span class="font-extrasmall">In {{this.budget_currency}}</span>
    {{/if}}
  {{/if}}
</div>
