<div class="donors-in-this-country">
  <h3>Filter by Donor</h3>
  <div class="mod-donors">
    <ul>
        {{#each donors}}
        <li><a href="{{this.urlfiltered}}">{{this.name}}</a> ({{this.count}})</li>
        {{/each}}
        {{#if show_toggler}}
        <li><a id="see-more-donors" href="#" class="{{toggle_class}}">{{toggle_text}}</a></li>
        {{/if}}
    </ul>
  </div>
</div>
