<h3>{{#if all}}Other sectors{{ else }}Filter by Sector{{/if}}</h3>
<div class="mod-project-sectors">
  <ul id="clustersView">
    {{#each sectors}}
      <li>
        {{#if ../filtered}}
          <a class="{{this.class}} icon_statistics" title="{{this.name}}" href="{{this.urlfiltered}}" data-value="{{this.count}}"><span class="aller">{{this.count}}</span></a>
        {{else}}
          <a class="{{this.class}} icon_statistics" title="{{this.name}}" href="{{this.url}}" data-value="{{this.count}}"><span class="aller">{{this.count}}</span></a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
