<div class="project-locations">
  <h3>Project locations</h3>
  <div class="mod-project-locations">
    <ul class="chart">
      {{#each locations}}
        <li class="pos{{@index}}">
          {{#if ../filtered}}
            <a href="{{this.urlfiltered}}">{{this.name}}</a> - {{this.count}}
          {{else}}
            <a href="{{this.url}}">{{this.name}}</a> - {{this.count}}
          {{/if}}

        </li>
      {{/each}}
      {{#if othersVisibility}}
        <li class="pos3">Others - {{this.other}}</li>
      {{/if}}
    </ul>
    {{#if chartVisibility}}
      <img alt="Chart?cht=p&amp;chs=120x120&amp;chd=t:{{values}}{{#if othersVisibility}},{{this.other}}{{/if}}&amp;chds=0,{{#if othersVisibility}}{{this.other}}{{/if}}&amp;chco=333333|565656|727272|adadad|efefef|ffffff&amp;chf=bg,s,ffffff00" class="pie_chart" src="https://chart.googleapis.com/chart?cht=p&amp;chs=120x120&amp;chd=t:{{values}}{{#if othersVisibility}},{{this.other}}{{/if}}&amp;chds=0,{{#if othersVisibility}}{{this.other}}{{/if}}&amp;chco=333333|565656|727272|ADADAD|EFEFEF|FFFFFF&amp;chf=bg,s,FFFFFF00">
    {{/if}}
  </div>
</div>
