<%= render 'partials/map' %>
<%= render 'partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <section class="layout-content grid-12 offset-1">

      <%= render 'partials/project_list_header', type: 'Donor', title: @donor.name, css_class: 'donor' %>
        <!--<h1 id="title-donor" class="section-title" data-id="<%= @donor.id %>" data-name="<%= @donor.name.html_safe %>"><%= @donor.name.html_safe %></h1>-->

      <p class="disclaimer">The projects presented here are voluntarily provided by InterAction members and are not intended to be a complete representation of this donor’s activities.</p>

      <%= render "partials/index_projects" %>

    </section>

    <aside class="layout-sidebar grid-4">

      <!-- Highlighted results -->
      <div id="sidebar-highlights" class="mod-highlighted-results mod-info" data-highlights="[&#34;projects_count&#34;,&#34;countries_count&#34;]"></div>

      <!-- Projects locations -->
      <div id="sidebar-locations" class="mod-info"></div>

      <!-- Sectors by projects -->
      <div id="sidebar-sectors" class="project-sectors mod-info"></div>

      <!-- Projects reporting organizations -->
      <div id="sidebar-organizations" class="mod-info"></div>
      
      <script> var donor = <%= raw(@donor.to_json) %>;</script>
    </aside>
  </div>
</div>
