<% content_for :js_vars do %>
  <script>
  </script>
<% end %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar mod-form" id="searchSidebarView">
        <form method="get">
          <div class="block search">
            <%= text_field_tag :q, params[:q], :placeholder => 'Search' %>
            <%= submit_tag '' %>
          </div>

          <div class="block region">
            <h3><%= @site.word_for_regions %></h3>
            <select name="regions_ids[]" multiple placeholder="All regions">
              <% @regions.each do |region| %>
                <option value="<%= region.id %>"><%= region.title %>, <%= region.subtitle %></option>
              <% end %>
              <% @filtered_regions.each do |region| %>
                <option selected value="<%= region.id %>"><%= region.title %>, <%= region.subtitle %></option>
              <% end %>
            </select>
          </div>

          <% if @navigate_by_cluster %>
            <div class="block cluster">
              <h3><%= @site.word_for_clusters %></h3>
              <select name="clusters_ids[]" multiple placeholder="All clusters">
                <% @clusters.each do |cluster| %>
                  <option value="<%= cluster.id %>"><%= cluster.title %></option>
                <% end %>
                <% @filtered_clusters.each do |region| %>
                  <option selected value="<%= region.id %>"><%= region.title %></option>
                <% end %>
              </select>
            </div>
          <% else %>
            <div class="block sectors">
              <h3><%= @site.word_for_clusters %></h3>
              <select name="sectors_ids[]" multiple placeholder="All sectors">
                <% @sectors.each do |sector| %>
                  <option value="<%= sector.id %>"><%= sector.title %></option>
                <% end %>
                <% @filtered_sectors.each do |region| %>
                  <option selected value="<%= region.id %>"><%= region.title %></option>
                <% end %>
              </select>
            </div>
          <% end %>

          <div class="block organization">
            <h3>Organization</h3>
            <select name="organizations_ids[]" multiple placeholder="All organizations">
              <% @organizations.each do |organization| %>
                <option value="<%= organization.id %>"><%= organization.title %></option>
              <% end %>
              <% @filtered_organizations.each do |region| %>
                <option selected value="<%= region.id %>"><%= region.title %></option>
              <% end %>
            </select>
          </div>

          <div class="block donor">
            <h3>Donor</h3>
            <select name="donors_ids[]" multiple placeholder="All donors">
              <% @donors.each do |donor| %>
                <option value="<%= donor.id %>"><%= donor.title %></option>
              <% end %>
              <% @filtered_donors.each do |region| %>
                <option selected value="<%= region.id %>"><%= region.title %></option>
              <% end %>
            </select>
          </div>

          <div class="block active">
            <h3>Project status</h3>
            <%= select_tag :status, options_for_select(['Any', 'Active', 'Inactive'], params[:status]), :class => :"chzn-select" %>
          </div>

          <div class="block">
            <h3>Starting after <%= link_to 'Clear', '#', :class => 'clear_date start_date' if @start_date %></h3>
            <%= select_year @start_date, :field_name => 'start_year', :prompt => 'Year', :start_year => 1980, :end_year => 2030 %>
            <%= select_month @start_date, :field_name => 'start_month', :prompt => 'Month' %>
          </div>

          <div class="block">
            <h3>Ending before <%= link_to 'Clear', '#', :class => 'clear_date end_date' if @end_date %></h3>
            <%= select_year @end_date, :field_name => 'end_year', :prompt => 'Year', :start_year => 1980, :end_year => 2030 %>
            <%= select_month @end_date, :field_name => 'end_month', :prompt => 'Month' %>
          </div>

          <div class="block">
            <button class="apply" type="submit">Search</button>
          </div>
        </form>
      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content">
        <header>
          <h1>Search projects</h1>
        </header>
        <div class="mod-search">
          <% if @projects.present? and @projects.any? %>
            <p>Showing results for: <strong>'<%= params[:q] %>'</strong></p>
          <% else %>
            <p>No projects were found for <strong>'<%= params[:q] %>'</strong></p>
          <% end %>
        </div>

        <% if @projects.present? %>
          <div class="articles-list">
            <ul>
              <% @projects.each_with_index do |project,index| %>
                <li>
                  <article class="mod-index-item">
                    <h2><%= link_to(truncate(project['project_name'],:length=>43,:omission=>"..."), project_path(project['project_id'])) %></h2>
                    <span>by <%= link_to(project['organization_name'], organization_path(project['organization_id'])) %></span>
                    <p>
                      <% regions = project['regions'] ? project['regions'].text2array : [] %>
                      <% regions.slice!(0, 2).each do |region| %>
                          <%= "#{region}, #{project['countries'].text2array}"%>
                      <% end %>
                      <% if regions.count > 0 %>and <%= content_tag :span, "#{regions.count} more" %><% end %>
                    </p>
                  </article>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= render 'search/pagination' %>

      </section>
    </div>
  </div>
</div>
