<% content_for :js_vars do %>
  <script>
    var map_data = false;
  </script>
<% end %>

<div class="main-content">
  <style type="text/css">
    label {
      display: block;
      margin-bottom: 10px;
    }
  </style>

  <div class="row">
    <section class="layout-content grid-12 offset-1">
      <header>
        <h1>Search projects</h1>
      </header>
      <div class="mod-search">
        <% if @projects.present? and @projects.any? %>
          <p>Showing results for: <strong>'<%= params[:q] %>'</strong></p>
        <% else %>
          <p>No projects were found for <strong>'<%= params[:q] %>'</strong></p>
        <% end %>
      </div>

      <% if @projects.present? %>
        <div class="articles-list">
          <ul>
            <% @projects.each_with_index do |project,index| %>
              <li>
                <article class="mod-index-item">
                  <h2><%= link_to(truncate(project.name,:length=>43,:omission=>"..."), project_path(project.id)) %></h2>
                  <span>by <%= link_to(project.primary_organization.try(:name), organization_path(project.primary_organization.try(:id))) %></span>
                  <p>
                    <% regions = project['geolocations'] ? project['geolocations'].text2array : [] %>
                    <% regions.slice!(0, 2).each do |region| %>
                        <%= "#{region}, #{project['countries'].text2array}"%>
                    <% end %>
                    <% if regions.count > 0 %>and <%= content_tag :span, "#{regions.count} more" %><% end %>
                  </p>
                </article>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mod-pagination">
        <%= paginate(@projects, total_pages: @total_pages) %>
      </div>
    </section>

    <aside class="layout-sidebar mod-form grid-4" id="searchSidebarView">
      <form method="get">
        <div class="block search">
          <label class="screen-reader" for="q">Search</label>
          <%= text_field_tag :q, params[:q], :placeholder => 'Search' %>
          <%= submit_tag '' %>
        </div>
        <div class="block region">
          <label for="countries">Countries</label>
          <select id="countries" name="countries[]" multiple placeholder="All countries">
            <% @regions.each do |region| %>
              <option value="<%= region.uid %>"><%= region.name %></option>
            <% end %>
            <% @filtered_regions.each do |region| %>
              <option selected value="<%= region.uid %>"><%= region.name %></option>
            <% end %>
          </select>
        </div>


        <div class="block sectors">
          <label for="sectors">Sectors</label>
          <select id="sectors" name="sectors[]" multiple placeholder="All sectors">
            <% @sectors.each do |sector| %>
              <option value="<%= sector.id %>"><%= sector.title %></option>
            <% end %>
            <% @filtered_sectors.each do |sector| %>
              <option selected value="<%= sector.id %>"><%= sector.title %></option>
            <% end %>
          </select>
        </div>

        <div class="block organization">
          <label for="organization">Organization</label>
          <select id="organization" name="organizations[]" multiple placeholder="All organizations">
            <% @organizations.each do |organization| %>
              <option value="<%= organization.id %>"><%= organization.title %></option>
            <% end %>
            <% @filtered_organizations.each do |organization| %>
              <option selected value="<%= organization.id %>"><%= organization.title %></option>
            <% end %>
          </select>
        </div>

        <div class="block donor">
          <label for="donors">Donor</label>
          <select id="donors" name="donors[]" multiple placeholder="All donors">
            <% @donors.each do |donor| %>
              <option value="<%= donor.id %>"><%= donor.name %></option>
            <% end %>
            <% @filtered_donors.each do |donor| %>
              <option selected value="<%= donor.id %>"><%= donor.name %></option>
            <% end %>
          </select>
        </div>

        <div class="block active">
          <label for="status">Project status</label>
          <%= select_tag :status, options_for_select({'Any' => 'any', 'Active' => 'active', 'Inactive' => 'inactive'}, params[:status]), :class => :"chzn-select" %>
        </div>

        <div class="block">
          <label for="start_year">Starting after <%= link_to 'Clear', '#', :class => 'clear_date start_date' if @start_date %></label>
          <%= select_year @start_date, :field_name => 'start_year', :prompt => 'Year', :start_year => 1980, :end_year => 2030 %>
          <%= select_month @start_date, :field_name => 'start_month', :prompt => 'Month' %>
        </div>

        <div class="block">
          <label for="end_year">Ending before <%= link_to 'Clear', '#', :class => 'clear_date end_date' if @end_date %></label>
          <%= select_year @end_date, :field_name => 'end_year', :prompt => 'Year', :start_year => 1980, :end_year => 2030 %>
          <%= select_month @end_date, :field_name => 'end_month', :prompt => 'Month' %>
        </div>

        <div class="block">
          <button class="apply" type="submit">Search</button>
        </div>
      </form>
    </aside>
  </div>
</div>
