<%= render 'partials/map' %>
<%= render 'partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <section class="layout-content grid-12 offset-1">

      <%= render 'partials/project_list_header', type: 'Partner', title: @partner.name, css_class: 'organization' %>

      <div class="mod-organization-details is-clearfix">
        <% if url_has_compound_filter %>
          <h2><%= @partner.name %></h2>
        <% end %>
        <div class="<%= 'details-wrapper' if url_has_compound_filter %>">

          <%= content_tag(:p, sanitize(@partner.description, {tags: %w(strong em a li), attributes: %w(href)}), :class => 'preserve-lines') if @partner.description.present? %>

          <% if @partner.acronym? %>
              <p>Acronym: <%= @partner.acronym %></p>
          <% end %>

          <% if @partner.logo? %>
              <div class="logo">
                <%= image_tag @partner.logo.url(:medium), :alt=>"" %>
              </div>
          <% end %>

          <table class="organization-details">
            <% if @partner.budget? %>
                <tr>
                  <th>
                    Annual Budget
                  </th>
                  <td>
                    <%- if @partner.budget_usd? -%>
                        <%= number_to_currency(@partner.budget_usd, precision: 0) %>
                        <%- if @partner.budget_currency? && @partner.budget_currency != 'USD'  -%>
                            (Converted from <%= @partner.budget_currency %>)
                        <%- end -%>
                    <%- else -%>
                        <% if @partner.budget_currency? %>
                            <%= number_with_precision(@partner.budget, :precision => 0, :delimiter => ',') %>
                            (<%= @partner.budget_currency %>)
                        <%- else -%>
                            <%= number_to_currency(@partner.budget, precision: 0) %>
                        <% end %>
                    <% end %>
                  </td>
                </tr>
            <% end %>

            <% if @partner.budget_fiscal_year? %>
                <tr>
                  <th>
                    Fiscal Year (end date)
                  </th>
                  <td>
                    <%= @partner.budget_fiscal_year.strftime("%B %d, %Y") %>
                  </td>
                </tr>
            <% end %>

            <% if @partner.website? %>
                <tr>
                  <th>
                    Website
                  </th>
                  <td>
                    <a href="<%= @partner.website %>"><%= URI.unescape(@partner.website) %></a>
                  </td>
                </tr>
            <% end %>

            <% if @partner.twitter? %>
                <tr>
                  <th>
                    Twitter
                  </th>
                  <td>
                    <a href="<%= @partner.twitter %>"><%= URI.unescape(@partner.twitter) %></a>
                  </td>
                </tr>
            <% end %>

            <% if @partner.facebook? %>
                <tr>
                  <th>
                    Facebook
                  </th>
                  <td>
                    <a href="<%= @partner.facebook %>"><%= URI.unescape(@partner.facebook) %></a>
                  </td>
                </tr>
            <% end %>

            <% if @partner.hq_address? %>
                <tr>
                  <th>
                    Primary Address
                  </th>
                  <td>
                    <p><%= @partner.hq_address %></p>
                    <% if @partner.hq_address2? %>
                        <p><%= @partner.hq_address2 %></p>
                    <% end %>
                    <% if @partner.contact_city? && @partner.contact_state? %>
                        <p><%= @partner.contact_city %>, <%= @partner.contact_state %> <%= @partner.contact_zip %></p>
                    <% end %>
                    <% if @partner.contact_country? %>
                        <p><%= @partner.contact_country %></p>
                    <% end %>
                  </td>
                </tr>
            <% end %>

          </table>
        </div>

      </div>

      <%= render "partials/index_projects" %>

      <% unless @partner.media_resources.empty? %>
        <section>
          <h2 class="screen-reader">Related Resources</h2>

          <div class="mod-gallery chachi-slider">
            <% @partner.media_resources.each do |media_resource| %>
              <% if media_resource.is_a_video? %>
                <% image_tag(media_resource.video_thumb.url(:medium), :alt => media_resource.caption, :video_id => media_resource.id, :class => "chachi-item") %>
                <div class="chachi-item"><%= CGI.unescapeHTML(media_resource.video_embed_html).html_safe %></div>
              <% else %>
                <%= image_tag(media_resource.image_url, :alt=> media_resource.caption, :class => "chachi-item") %>
              <% end %>
            <% end %>
          </div>
        </section>
      <% end %>

    </section>

    <aside class="layout-sidebar grid-4">

      <!-- Highlighted results -->
      <div id="sidebar-highlights" class="mod-highlighted-results mod-info" data-highlights="[&#34;projects_count&#34;]"></div>

      <!-- Sectors by projects -->
      <div id="sidebar-sectors" class="project-sectors mod-info"></div>

      <!-- Projects locations -->
      <div id="sidebar-locations" class="mod-info"></div>

      <!-- Projects donors -->
      <div id="sidebar-donors" class="project-donors mod-info"></div>

      <!-- Organization Sidebar -->
      <div id="sidebar-organization-resources" class="mod-info"></div>
      <div id="sidebar-organization-infocontact" class="mod-info"></div>
      <div id="sidebar-organization-donationcontact" class="mod-info"></div>
      <div id="sidebar-organization-mediacontact" class="mod-info"></div>
      <div id="sidebar-organization-followus" class="mod-info"></div>



      <script>
        var organization = <%= raw(@partner.to_json) %>;
        var organization_resources = <%= raw(@partner.resources.to_json) %>;
      </script>
    </aside>
  </div>
</div>
