<%= render 'partials/map' %>

<%= render 'partials/categories_selector' %>

<aside>
  <div class="row">
    <div class="grid-4">
      <%= render 'partials/aside/projects' %>

      <%= render 'partials/aside/organizations' %>

      <%= render 'partials/aside/countries' %>

      <%= render 'partials/aside/regions' %>
    </div>
  </div>
</aside>


<div class="row">
  <div class="grid-12 offset-1">

    <article class="show-article">
      <title><h2 class="title-section">A Baby´s Fisrt Cry: Saving Newborns who can´t breathe</h2></title>

      <div class="links">
        <span>on <a href="#">Health</a> by <a href="#">Adventist Developement</a> and <a href="#">Relief Agency (ADRA)</a></span>
      </div>

      <section>
        <title><h3 class="title-article">Activities</h3></title>
        <body>
          <p>Training: Conducting of and follow-up for a training scheduled for mid-2014 to expand neonatal resuscitation (NR) to enable the survival of vulnerable newborns who would likely succumb to asphyxia or suffer life-long disability.
          Social Mobilization: Village Doctors, Township Health Centers visiting households or working in communities with promotion of SBA with NR skills attending home deliveries to reduce birth asphyxia. (Note: this is an optional activity that will depend on funding levels generated).</p>
        </body>
      </section>

      <section>
        <title><h3 class="title-article">ADDITIONAL INFORMATION</h3></title>
        <body>
          <p>What are the main development issues among the target population? The project targets a population of 10,000 Tibetans, specifically families who will experience the birth of a new baby. Zaduo County is a high altitude grasslands area in western China the size of the state of Maryland. Many of Zaduo’s Tibetan families are nomads, moving with their herds of yak between summer grazing areas and winter shelters. Tibetans may have multiple children and rely on larger families to manage their livestock. The Tibetan cultural areas experience the nation’s highest birth rates. The majority of Tibetan women in Zaduo live far from medical care and deliver at home, often with the assistance of a Village Doctor trained as a Skilled Birth Attendant. The published evidence indicates this project will effectively reduce deaths in newborns by 20%. This will directly impact the families of the approximately 170 babies born annually in this population of 10,000.</p>
        </body>
      </section>

      <section>
        <h3 class="title-article">other projects</h3>
        <ul>
          <%= render 'partials/more_projects' %>
        </ul>
      </section>

    </article>

  </div>
</div>

