<% cache ['categories_selector', @site], expires_in: ((Time.now + 1.day).beginning_of_day - Time.now).ceil do %>
  <section class="categories-selector">
    <div class="row">
      <div class="grid-14">
        <div class="mod-categories-selector" id="filtersView">
          <nav>
            <ul>
              <% if false #@site.cluster %>
                <li class="menu-item sector"><span class="father"><a href="<%= cluster_path(@site.cluster) %>"><%= @site.word_for_cluster_sector.upcase.singularize %></a></span></li>
              <% elsif false #@site.sector %>
                <li class="menu-item sector">
                  <span class="father"><a href="<% sector_path(@site.sector) %>"><% @site.word_for_cluster_sector.upcase.singularize %>Sectors</a></span>
                </li>
              <% else %>
                <li class="menu-item sector" id="sector_option">
                  <span class="father">SECTOR</span>
                  <div class="mod-go-up-menu menu">
                    <ul class="mod-categories-child sector-child submenu">
                      <% @sectors.each do |category| %>
                        <li>
                          <a class="<%= category.name.underscore.parameterize %>" href="<%= sector_path(category.id) %>">
                              <%= category.name %>
                          </a>
                          <span><%= category.projects_count %> projects</span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end %>

              <li class="organizations">
                <span class="father">Organizations</span>
                <div class="mod-go-up-menu menu">
                  <ul class="mod-categories-child organizations-child">
                    <% @organizations.each do |organization| %>
                      <li><a href="<%= organization_path(organization[0]) %>"><%= organization[1] %></a></li>
                    <% end %>
                  </ul>
                  <input type="text" class="mod-categories-search" placeholder="Search Organization">
                </div>
              </li>

              <li class="donors">
                <span class="father">Donors</span>
                <div class="mod-go-up-menu menu">
                  <ul class="mod-categories-child donors-child">
                    <% @donors.each do |donor| %>
                      <li><a href="<%= donor_path(donor[0]) %>"><%= donor[1] %></a></li>
                    <% end %>
                  </ul>
                  <input type="text" class="mod-categories-search" placeholder="Search Donor">
                </div>
              </li>

            <% if true#@site.navigate_by == :country %>
              <li class="countries">
                <span class="father">Countries</span>
                <div class="mod-go-up-menu menu">
                  <ul class="mod-categories-child countries-child">
                    <% @countries.each do |country| %>
                      <li><%= link_to(country[1], location_path(:ids => country[0])) %></li>
                    <% end %>
                  </ul>
                  <input type="text" class="mod-categories-search" placeholder="Search Country">
                </div>
              </li>
            <% else %>
              <li class="regions">
                <span class="father">Regions</span>
                <div class="mod-go-up-menu menu">
                  <ul class="mod-categories-child regions-child">
                    <%# @site.regions_select.each do |region| %>
                      <li><%# link_to(region.name, location_path(:ids => region)) %></li>
                    <%# end %>
                  </ul>
                  <input type="text" class="mod-categories-search" placeholder="Search Region">
                </div>
              </li>
            <% end %>

            <li class="mod-form search">
              <%= form_tag(search_path, :method => :get) do %>
                <%= text_field_tag :q, params[:q], :placeholder=>'SEARCH'%>
                <input type="submit" value="">
              <% end %>
            </li>

            </ul>
          </nav>
        </div>
      </div>

      <div class="grid-3">
        <div class="mod-logos-slider chachi-slider">
          <a href="http://www.fedex.com/" target="_blank" class="chachi-slide-item"><%= image_tag "fedex-logo.png", :alt  => "Fedex", :width => "130", :heigth => "40" %></a>
          <a href="http://www.ifad.org/" target="_blank" class="chachi-slide-item"><%= image_tag "ifad.png", :alt  => "IFAD", :width => "130", :heigth => "40" %></a>
        </div>
      </div>

    </div>
  </section>
<% end %>