<% cache("#{@site.id}/categories") do %>
  <section class="categories-selector">
    <div class="row">
      <div class="grid-14">
        <div class="mod-categories-selector" id="filtersView">
          <nav>
            <ul>
              <% if false #@site.cluster %>
                <li class="menu-item sector"><span class="father"><a href="<%= cluster_path(@site.cluster) %>"><%= @site.word_for_cluster_sector.upcase.singularize %></a></span></li>
              <% elsif true #@site.sector %>
                <li class="menu-item sector">
                  <span class="father"><a href="<%= sector_path(@site.sector) %>"><%= @site.word_for_cluster_sector.upcase.singularize %></a></span>
                </li>
              <% else %>
                <li class="menu-item sector" id="<%= @site.navigate_by_cluster? ? 'cluster' : 'sector' %>_option">
                  <span class="father"><%= @site.word_for_cluster_sector.upcase %></span>
                  <div class="mod-go-up-menu menu">
                    <ul class="mod-categories-child sector-child submenu">
                      <% @site.clusters_or_sectors.reject{|c| c.name.eql?('N/A') || c.total_projects(@site) == 0}.sort_by(&:name).each do |category| %>
                        <li>
                          <a class="<%= category.css_class %>" href="<%= category.is_a?(Cluster) ? cluster_path(category) : sector_path(category) %>">
                              <%= category.name %>
                          </a>
                          <span><% unless @site.featured? %><%= category.projects.reject{|p| p.end_date < DateTime.now.to_date}.size %> projects<% end %></span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end %>

              <li class="organizations">
                <span class="father">Organizations</span>
                <div class="mod-go-up-menu menu">
                  <ul class="mod-categories-child organizations-child">
                    <% @site.organizations_select.each do |organization| %>
                      <li><a href="<%= organization_path(organization) %>"><%= organization.name %></a></li>
                    <% end %>
                  </ul>
                  <input type="text" class="mod-categories-search" placeholder="Search Organization">
                </div>
              </li>

              <li class="donors">
                <span class="father">Donors</span>
                <div class="mod-go-up-menu menu">
                  <ul class="mod-categories-child donors-child">
                    <% @site.donors_select.each do |donor| %>
                      <li><a href="<%= donor_path(donor) %>"><%= CGI.unescapeHTML(donor.name) %></a></li>
                    <% end %>
                  </ul>
                  <input type="text" class="mod-categories-search" placeholder="Search Donor">
                </div>
              </li>

            <% if @site.navigate_by == :country %>
              <li class="countries">
                <span class="father">Countries</span>
                <div class="mod-go-up-menu menu">
                  <ul class="mod-categories-child countries-child">
                    <% @site.countries_select.each do |country| %>
                      <li><%= link_to(country.name, location_path(:ids => country)) %></li>
                    <% end %>
                  </ul>
                  <input type="text" class="mod-categories-search" placeholder="Search Country">
                </div>
              </li>
            <% else %>
              <li class="regions">
                <span class="father">Regions</span>
                <div class="mod-go-up-menu menu">
                  <ul class="mod-categories-child regions-child">
                    <% @site.regions_select.each do |region| %>
                      <li><%= link_to(region.name, location_path(:ids => region)) %></li>
                    <% end %>
                  </ul>
                  <input type="text" class="mod-categories-search" placeholder="Search Region">
                </div>
              </li>
            <% end %>

            <li class="mod-form search">
              <%= form_tag(search_path, :method => :get) do %>
                <%= text_field_tag :q, params[:q], :placeholder=>'SEARCH'%>
                <input type="submit" value="">
              <% end %>
            </li>

            </ul>
          </nav>
        </div>
      </div>

      <div class="grid-3">
        <div class="mod-logos-slider chachi-slider">
          <a href="http://www.fedex.com/" target="_blank" class="chachi-slide-item"><%= image_tag "fedex-logo.png", :alt  => "Fedex", :width => "130", :heigth => "40" %></a>
          <a href="http://www.ifad.org/" target="_blank" class="chachi-slide-item"><%= image_tag "ifad.png", :alt  => "IFAD", :width => "130", :heigth => "40" %></a>
        </div>
      </div>

    </div>
  </section>
<% end %>
