<nav>
	<ul class="menu">
		<li class="menu-item home"><a href="/" class="index-item home <%= if action_name == 'home' then 'active' end %>">home</a></li>
		<li class="menu-item about">
      <a href="/p/about" class="index-item about <% if @page.present? %><%= "active" if (@page.permalink == 'about' || @page.top_parent.permalink == 'about') %><% end %>">about</a>
      <ul class="submenu">
        <% @site.pages_by_parent('about').each do |page| %>
          <% if page.published %>
            <li class="submenu-item"><a href="/p/<%=page.permalink %>"><%=page.title%></a></li>
          <% end %>
        <% end %>
      </ul>
    </li>
		<li class="menu-item data">
      <a href="/p/data" class="index-item data <% if @page.present? %><%= "active" if (@page.permalink == 'data' || @page.top_parent.permalink == 'data') %><% end %>">data</a>
      <ul class="submenu">
        <% @site.pages_by_parent('data').each do |page| %>
          <% if page.published %>
            <li class="submenu-item"><a href="/p/<%=page.permalink %>"><%=page.title%></a></li>
          <% end %>
        <% end %>
        <% if @site.name == "global" %>
          <%#<li class="submenu-item"><a href="/p/analysis">Metrics or Analysis</a></li> %>
        <% end %>
      </ul>
    </li>
		<li class="menu-item access"><a href="/admin" class="index-item access <%= if action_name == 'access' then 'active' end %>">member access</a></li>
	</ul>
</nav>
