<% cache ['main_map', @site, params], expires_in: ((Time.now + 1.day).beginning_of_day - Time.now).ceil do %>
<section class="mod-map" id="mapView">

  <div class="row">
    <div class="grid-17">
      <div class="mod-map-controls">

        <div class="control-navbar<% if @site.featured? %> featured-control-navbar<% end %>">
          <% if SiteLayer.where({:site_id => @site.id}).length >= 1 %>
            <div class="selector menu-item" id="layerSelector">
              <ul>
                <li><span class="current-selector index-item">Layer</span>
                  <ul class="selector-options submenu">
                    <li class="submenu-item"><a href="#" data-layer="none">None</a></li>
                    <% SiteLayer.where({:site_id => @site.id}).each do |sl| %>
                      <li class="submenu-item"><a href="#" id="CBLayer<%= sl.layer.id %>" data-min="<%= sl.layer.min %>" data-max="<%= sl.layer.max %>" data-layer="<%= sl.layer.title %>"
                        data-sql="<%= sl.layer.sql %>" data-units="<%= sl.layer.units %>" data-style="<%= sl.layer_style.name %>" data-table="<%= sl.layer.cartodb_table %>" data-overlay="#Overlay<%= sl.layer.id %>"><%= sl.layer.title %> <span class="icon-info"></span></a></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          <% end %>

          <div class="selector menu-item" id="mapTypeSelector">
            <ul>
              <li>
                <span class="current-selector index-item">Roadmap</span>
                <ul class="selector-options submenu">
                  <li class="is-hidden submenu-item" id="emptyLayer"><a href="#" data-type="EMPTY">Empty</a></li>
                  <li class="submenu-item"><a href="#" id="roadmapLayer" data-type="ROADMAP">Roadmap</a></li>
                  <li class="submenu-item"><a href="#" id="terrainLayer" data-type="TERRAIN">Terrain</a></li>
                  <li class="submenu-item"><a href="#" id="hybridLayer" data-type="HYBRID">Hybrid</a></li>
                  <li class="submenu-item"><a href="#" id="satelliteLayer" data-type="SATELLITE">Satellite</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <% if @site.featured? %>
            <div class="featured"><%= @site.name %></div>
          <% end %>

        </div> <!-- control-navbar -->

        <div class="control-zoom" id="controlZoom">
          <a href="#zoom-in" class="zoom-out" id="zoomOut">-</a>
          <a href="#zoom-in" class="zoom-in" id="zoomIn">+</a>
        </div>

      </div> <!-- controls -->
    </div>
  </div>


  <div id="map"></div>

  <div id="legendWrapper"></div>

  <%= render 'new_partials/filtered_categories' %>

</section>

<% SiteLayer.where({:site_id => @site.id}).each do |sl| %>
  <div id="Overlay<%= sl.layer.id %>" class="mod-overlay layer-overlay">
    <div class="mod-overlay-content">
      <div class="text">
        <a class="mod-overlay-close" href="#">x</a>
        <h2><%= sl.layer.long_title %></h2>
        <%= sl.layer.description.html_safe %>
        <%= sl.layer.credits.html_safe %>
      </div>
    </div>
  </div>
<% end %>
<% end %>