<% cache ['categories_selector', @site], expires_in: ((Time.now + 1.day).beginning_of_day - Time.now).ceil do %>
  <section class="categories-selector">
    <div class="long-row">
      <div class="grid-14">
        <div class="mod-categories-selector" id="filtersView">
          <nav>
            <ul>
              <% if false #@site.cluster %>
                <li class="menu-item sector">
                  <span class="father">
                    <a href="<%= cluster_path(@site.cluster) %>"><%= @site.word_for_cluster_sector.upcase.singularize %></a>
                  </span>
                </li>
              <% elsif false #@site.sector %>
                <li class="menu-item sector">
                  <span class="father">
                    <a href="<% sector_path(@site.sector) %>"><% @site.word_for_cluster_sector.upcase.singularize %>Sectors</a>
                  </span>
                </li>
              <% else %>
                <li class="menu-item sector" id="sector_option">
                  <button aria-controls="sectors-menu" class="father">
                    Sectors
                  </button>

                  <div id="sectors-menu" class="mod-go-up-menu menu">
                    <ul class="mod-categories-child sector-child submenu">
                      <% @sectors.each do |category| %>
                        <li>
                          <a class="<%= category.name.underscore.parameterize %>" href="<%= sector_path(category.id) %>">
                              <%= category.name %>
                          </a>
                          <span><%= category.projects_count %> projects</span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end %>

              <li class="organizations">
                <button aria-controls="organizations-menu" class="father">
                  Organizations
                </button>

                <div id="organizations-menu" class="menu mod-go-up-menu">

                  <button aria-controls="reporting-orgs-menu" class="sub-father">
                    Reporting Organizations
                  </button>
                  <button aria-controls="partner-orgs-menu" class="sub-father">
                    Partners
                  </button>
                  <button aria-controls="donor-orgs-menu" class="sub-father">
                    Donors
                  </button>

                  <div id="reporting-orgs-menu" class="mod-go-up-menu">
                    <button aria-controls="reporting-orgs-menu" class="back-button">
                      Back
                    </button>
                    <ul class="mod-categories-child organizations-child">
                      <% @organizations.each do |organization| %>
                        <li><a href="<%= organization_path(organization[0]) %>"><%= organization[1] %></a></li>
                      <% end %>
                    </ul>
                    <input type="text" class="mod-categories-search" placeholder="Search Organization">
                  </div>

                  <div id="partner-orgs-menu" class="mod-go-up-menu">
                    <button aria-controls="partner-orgs-menu" class="back-button">
                      Back
                    </button>
                    <ul class="mod-categories-child partners-child">
                      <% @partners.each do |partner| %>
                        <li><a href="<%= partner_path(partner[0]) %>"><%= partner[1] %></a></li>
                      <% end %>
                    </ul>
                    <input type="text" class="mod-categories-search" placeholder="Search Partner">
                  </div>

                  <div id="donor-orgs-menu" class="mod-go-up-menu">
                    <button aria-controls="donor-orgs-menu" class="back-button">
                      Back
                    </button>
                    <ul class="mod-categories-child donors-child">
                      <% @donors.each do |donor| %>
                        <li><a href="<%= donor_path(donor[0]) %>"><%= donor[1].html_safe %></a></li>
                      <% end %>
                    </ul>
                    <input type="text" class="mod-categories-search" placeholder="Search Donor">
                  </div>

                </div>
              </li>

              <% if @site.navigate_by_country %>
                <li class="countries">
                  <button class="father" aria-controls="countries-menu">
                    Countries
                  </button>

                  <div id="countries-menu" class="mod-go-up-menu menu">
                    <ul class="mod-categories-child countries-child">
                      <% @countries.each do |country| %>
                        <li><%= link_to(country[1], location_path(:ids => country[0],level: 1)) %></li>
                      <% end %>
                    </ul>
                    <input type="text" class="mod-categories-search" placeholder="Search Country">
                  </div>
                </li>
              <% else %>
                <li class="regions">
                  <button class="father" aria-controls="regions-menu">
                    Regions
                  </button>

                  <div id="regions-menu" class="mod-go-up-menu menu">
                    <ul class="mod-categories-child regions-child">
                      <% @site.regions_select.each do |region| %>
                        <li><%= link_to(region.name, location_path(region.uid, level: region.adm_level + 1, site: @site.id)) %></li>
                      <% end %>
                    </ul>
                    <input type="text" class="mod-categories-search" placeholder="Search Region">
                  </div>
                </li>
              <% end %>

              <li class="mod-form search">
                <%= form_tag(search_path, :method => :get) do %>
                  <%= text_field_tag :q, params[:q], :placeholder=>'SEARCH PROJECTS'%>
                  <input type="submit" value="">
                <% end %>
              </li>

              <li class="run-reports">
                <%= link_to "Run Reports", report_index_path, :class => 'button father reports-button' %>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="grid-3">
        <div class="mod-logos-slider chachi-slider">
          <a href="http://www.fedex.com/" target="_blank" class="chachi-slide-item"><%= image_tag "fedex-logo.png", :alt  => "Fedex", :width => "130", :height => "40" %></a>
          <a href="http://www.ifad.org/" target="_blank" class="chachi-slide-item"><%= image_tag "ifad.png", :alt  => "IFAD", :width => "130", :height => "40" %></a>
        </div>
      </div>

    </div>
  </section>

  <script type="text/javascript">
    var buttons = document.querySelectorAll('.categories-selector button.father');
    for (var i=0, len=buttons.length; i<len; i++) {
      var button = buttons[i];
      var parent = button.parentElement;

      button.addEventListener('click', function(e) {
        var target   = e.currentTarget;
        var menu     = target.parentElement.querySelector('.menu');
        var menus    = target.parentElement.parentElement.querySelectorAll('.menu');
        var hasClass = menu.classList.contains('-show');

        for (var i=0, len=menus.length; i < len; i++) {
          menus[i].classList.remove('-show');
        }

        if (hasClass) {
          menu.classList.remove('-show');
        } else {
          menu.classList.add('-show');
        }
      });

      parent.addEventListener('mouseleave', function(e) {
        var target = e.currentTarget;
        var menus  = target.parentElement.querySelectorAll('.menu');
        var button = target.querySelector('button.father');

        for (var i=0, len=menus.length; i < len; i++) {
          menus[i].classList.remove('-show');
        }
        button.blur();
      });
    }

    var subButtons = document.querySelectorAll('button.sub-father');
    for (var i=0, len=subButtons.length; i<len; i++) {
      var button = subButtons[i];

      button.addEventListener('click', function(e) {
        var target = e.currentTarget;
        var menuId = target.getAttribute('aria-controls');
        var menu   = document.getElementById(menuId);
        menu.classList.add('-show');
      });
    }

    var backButtons = document.querySelectorAll('button.back-button');
    for (var i=0, len=backButtons.length; i<len; i++) {
      var button = backButtons[i];

      button.addEventListener('click', function(e) {
        var target = e.currentTarget;
        var menu   = target.parentElement;
        menu.classList.remove('-show');
      });
    }
  </script>
<% end %>
