<header class="mod-header">
  <h1 class="screen-reader"><% unless CGI.unescapeHTML(title).empty? %><%= CGI.unescapeHTML(title) %><% else %>Welcome<% end %> · NGO Aid Map</h1>

  <a class="skip-link" href="#main-content">Skip to Content</a>

  <div class="follow-us-container">
    <div class="row">
      <div class="grid-17">
        <%= render 'partials/follow_us' %>
      </div>
    </div>
  </div>

  <nav class="row">
    <div class="grid-4">
      <a href="https://<%= Settings.main_site_host %>" class="aid-map-logo">
      <%- if Rails.env.production? -%>
        <a href="https://<%= Settings.main_site_host %>" class="aid-map-logo">
      <%- else -%>
        <a href="/" class="aid-map-logo">
      <%- end -%>
        <%= image_tag "aid-map-logo.png", :alt  => "NGO Aid Map Home", :height => '90', :width => '185' %>
      </a>
    </div>

    <div class="grid-10">
    	<%= render 'partials/main_menu' %>
    </div>

    <div class="grid-3">
      <a href="http://www.interaction.org/" target="_blank" class="interaction-logo">
        <%= image_tag "interaction-logo.png" , :alt  => "Inter Action", :width => '132', :height => '85' %>
      </a>
    </div>
  </nav>
  
  <div class="relaunch-banner">
    <p>NGO Aid Map is evolving. InterAction expects the new NGO Aid Map to launch in September 2021.More details on <a target="_blank" href="https://www.interaction.org">InterAction.org.</a></p>
  </div>
  
</header>
