<header class="mod-header">
  <a class="skip-link" href="#main-content">Skip to Content</a>

  <div class="follow-us-container">
    <div class="row">
      <div class="grid-17">
        <%= render 'new_partials/aside/follow_us' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid-4">
      <h1>
        <a href="https://<%= Settings.main_site_host %>" class="aid-map-logo">
          <%= image_tag "aid-map-logo.png", :alt  => "NGO Aid Map", :height => '90', :width => '185' %>
        </a>
      </h1>
    </div>

    <div class="grid-10">
    	<%= render 'new_partials/main_menu' %>
    </div>

    <div class="grid-3">
      <a href="http://www.interaction.org/" target="_blank" class="interaction-logo">
        <%= image_tag "interaction-logo.png" , :alt  => "Inter Action", :width => '132', :height => '85' %>
      </a>
    </div>
  </div>
</header>
