<% cache ['projects_list', @site, @projects, params], expires_in: ((Time.now + 1.day).beginning_of_day - Time.now).ceil do %>
<div id="project_list" class="articles-list">
  <h2 class="screen-reader">Projects</h2>

  <div class="project-list-download-order-wrapper">
    <%= render :partial => 'partials/downloads', :locals => {
        :csv_path => "/sites/download/#{@site.id}.csv",
        :xls_path => "/sites/download/#{@site.id}.xls",
        :kml_path => "/sites/download/#{@site.id}.kml"
    } %>
    <p class="sorted-by-notice">ordered by most recently <%= params[:controller].eql?('organizations') ? 'updated' : 'added'%></p>
  </div>

  <% unless @projects.empty? %>
    <ul>
      <% @projects.each do |project| %>
      <% cache ['project', project, @site, controller_name], expires_in: ((Time.now + 1.day).beginning_of_day - Time.now).ceil do %>
        <li>
          <article class="mod-index-item">
            <h3>
              <% if project.created_at >= 1.week.ago %>
                <span class="snippet-label" title="Added on <%= project.created_at.strftime('%B %e, %Y') %>">New</span>
              <% end %>
              <a href="<%= project_path(project['id']) %>"><%= truncate(project['name'], :length=>60) %></a>
            </h3>
            <span ><%= subtitle(project, @site) %></span>
            <p>
              <%= html_truncate(project['description'], 175, :omission => "... <a href=\"#{project_path(project['id'])}\" class=\"learn_more\">Learn more</a>").html_safe %>
            </p>
            <p class="snippet-project-updated">
              <span class="snippet-project-updated">Last updated <%=project.updated_at.strftime('%B %e, %Y')%></span>
            </p>
          </article>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% else %>
    <article class="mod-index-item">
      <p class="no_results">No projects were found for this organization/donor/country</p>
    </article>
  <% end %>
</div>
<nav class="mod-pagination">
  <%= paginate(@projects, total_pages: @total_pages, remote: true) %>
</nav>
<% end %>
