<ul class="menu">
  <li class="menu-item explore">
    <a href="/explore" class="index-item explore <%= if controller_name == 'explore' then 'active' end %>">Explore</a>
    <ul class="submenu hidden-sm">
        <li class="submenu-item"><a href="/explore/stories">Stories</a></li>
        <li class="submenu-item"><a href="/explore/data">Data (Coming Soon)</a></li>
    </ul>
  </li>
  <li class="menu-item about">
    <a href="/p/about" class="index-item about <% if @page.present? %><%= "active" if (@page.permalink == 'about' || @page.top_parent.permalink == 'about') %><% end %>">About</a>

    <% cache ['main_menu_submenus_about', @site] do %>
      <ul class="submenu">
        <% @site.pages_by_parent('about').each do |page| %>
          <% if page.published %>
            <li class="submenu-item"><a href="/p/<%= page.permalink %>"><%= page.title%></a></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </li>
  <li class="menu-item data">
    <a href="/p/data" class="index-item data <% if @page.present? %><%= "active" if (@page.permalink == 'data' || @page.top_parent.permalink == 'data') %><% end %>">data</a>

    <% cache ['main_menu_submenus_data', @site] do %>
      <ul class="submenu">
        <% @site.pages_by_parent('data').each do |page| %>
          <% if page.published %>
            <li class="submenu-item"><a href="/p/<%= page.permalink %>"><%= page.title %></a></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </li>
  <li class="menu-item access">
    <a href="http://office.ngoaidmap.org/admin/" class="index-item access <%= if action_name == 'access' then 'active' end %>">Member Access</a>
  </li>
</ul>
