<header class="mod-project-list-header">

  <% if !url_has_compound_filter %>
  
    <div class="title-type <%= css_class %> with-border">
        <% if is_org_style_controller %>
            <% org_page_header_data.each_with_index do |t, i| %>
                <a href="<%= t[:url] %>" class="inline-block role-wrapper <%= t[:class] %>">
                    <span class="role <%= ' muted' if i > 0 %>"><%= t[:label] %></span>
                    <span class="badge-shim <%= t[:class_bg] %><%= ' muted-bg' if i > 0 %>"><%= t[:count] %></span>
                </a>
            <% end %>
        <% else %>
            <%= type %>
        <% end %>
    </div>
    
    <h1><%= title %></h1>
    <% if controller_name.eql?('georegion') && @geolocation.adm_level >= 1 %>
        <p class="project-filter-list-item-description"><%= location_projects_subtitle %></p>
    <% end %>
    
  <% else %>
  
    <h1 class="header-light">Projects</h1>
    
    <div class="skip-to-projects">
        <a href="#project_list">Skip to Projects List</a>
    </div>
    
    <div class="filter-heading">Current Filters</div>

    <ul id="filter_summary" class="project-filter-list">
        <% if params[:organizations] && @organization = Organization.find(params[:organizations].first) || nil %>
            <%= render 'partials/project_list_header_filter', model: @organization, label: 'Reporting Organization', param: 'organizations' %>
        <% end %>
        
        <% if params[:geolocation] && @geolocation = Geolocation.find_by(:uid => params[:geolocation]) || nil %>
            <%= render 'partials/project_list_header_filter', model: @geolocation, label: @geolocation.adm_level >= 1 ? 'Location' : 'Country', param: 'geolocation' %>
        <% end %>
        
        <% if params[:donors] && @donor = Organization.with_donations.find(params[:donors].first) || nil %>
            <%= render 'partials/project_list_header_filter', model: @donor, label: 'Donor', param: 'donors' %>
        <% end %>
        
        <% if params[:sectors] && @sector = Sector.find(params[:sectors].first) || nil %>
            <%= render 'partials/project_list_header_filter', model: @sector, label: 'Sector', param: 'sectors' %>
        <% end %>
      
        <% if params[:partners] && @partner = Organization.joins(:partner_projects).find(params[:partners].first) || nil %>
            <%= render 'partials/project_list_header_filter', model: @partner, label: 'Partner', param: 'partners' %>
        <% end %>
    </ul>
  <% end %>
</header>
