<% content_for :js_vars do %>
  <script>

  </script>
<% end %>

<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">

        <div id="sidebar-highlights" class="mod-highlighted-results mod-info" data-highlights="[&#34;projects_count&#34;]"></div>

        <div id="sidebar-location" class="location mod-info"></div>

        <div id="sidebar-sectors" class="project-sectors mod-info"></div>

        <div id="sidebar-donors" class="project-donors mod-info"></div>

        <div id="sidebar-other-countries" class="mod-info"></div>

      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content" id="content">

        <header>
          <h1 id="title-country" data-id="<%= @geolocation.id %>" data-name="<%= @geolocation.name.html_safe %>" class="section-title"><%= @geolocation.name %></h1>
          <%#= content_tag :p, @area.wiki_description if @area.wiki_description %>
          <%#= content_tag :p, raw("Description provided by Wikipedia #{content_tag(:a, 'Read full article', :href => @area.wiki_url)}"), :class => 'provided' if @area.wiki_url %>
        </header>

        <%= render :partial => 'new_partials/downloads' %>

        <%= render "new_partials/index_projects" %>

      </section>
    </div>
  </div>
</div>
