<%= render 'partials/map' %>
<%= render 'partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <section class="layout-content grid-12 offset-1" id="content">

      <header class="mod-project-list-header">
        <!--<h1 id="title-country" data-id="<%= @geolocation.id %>" data-name="<%= @geolocation.name.html_safe %>" class="section-title"><%= @geolocation.name %></h1>-->
        <ul class="project-filter-list">
          <li>
            <p class="project-filter-list-item-heading country"><%= @geolocation.adm_level >= 1 ? 'Location' : 'Country' %></p>
            <h1 data-id="<%= @geolocation.id %>" data-name="<%= @geolocation.name.html_safe %>" class="project-filter-list-item-value"><%= @geolocation.name %></h1>
            <% if @geolocation.adm_level >= 1 %>
              <p class="project-filter-list-item-description"><%= location_projects_subtitle %></p>
            <% end %>
          </li>
        </ul>
      </header>

      <%= render "partials/index_projects" %>

    </section>

    <aside class="layout-sidebar grid-4">

      <div id="sidebar-highlights" class="mod-highlighted-results mod-info" data-highlights="[&#34;projects_count&#34;]"></div>

      <div id="sidebar-location" class="location mod-info"></div>

      <div id="sidebar-sectors" class="project-sectors mod-info"></div>

      <div id="sidebar-organizations" class="mod-info"></div>

      <div id="sidebar-donors" class="project-donors mod-info"></div>

      <div id="sidebar-other-countries" class="mod-info"></div>

    </aside>
  </div>
</div>
