<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<% content_for :js_vars do %>
  <script>
    // <% if @site.overview_map_lat && @site.overview_map_lon %>
    // var map_center = [<%= @site.overview_map_lat %>, <%= @site.overview_map_lon %>];
    // <% else %>
    // var map_center = [];
    // <% end %>
    // var map_zoom = <%= @site.overview_map_zoom %>;
    // var chco = '<%= @overview_map_chco %>';
    // var chf = '<%= @overview_map_chf %>';
    // var chld = '<%= @chld %>';
    // var chd = '<%= @chd %>';
    // var map_data = <%=raw(@map_data)%>;
    // var map_type = 'project_map';
    // var theme = "<%= @site.theme_id %>";
    // var kind = window.location.pathname.split('/')[1];
    // var stylez = '<%=raw @site.map_styles  %>';
    // var empty_layer = <%= @empty_layer.present?? @empty_layer : false %>;
    // var video_players = [];
    // var globalPage = <%= @site.featured?? true : false %>;
    // var page = "<%= params[:controller] %>";
    // var project = <%= raw(@project.to_json) %>;
    // var prime_awardee = <%=raw(@project.prime_awardee.to_json) %>;
    // console.log(prime_awardee);
    // var geolocation = <%= raw(@geolocation.to_json) %>;
    // var organization = false;
    // var donor = false;
    // var sector = false;

  </script>
<% end %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">
        <div id="project-organization" class="mod-info mod-reporting-organisation"></div>

        <div id="project-timeline" class="mod-info"></div>

        <div id="project-budget" class="mod-info"></div>

        <div id="project-donors" class="mod-info"></div>

        <div id="project-awardee" class="mod-info"></div>

        <div id="project-implementingorganization" class="mod-info"></div>

        <div id="project-partnerorganizations" class="mod-info"></div>

        <div id="project-reach" class="mod-info"></div>

        <div id="project-target" class="mod-info"></div>

        <div id="project-contact" class="mod-info"></div>

        <div id="project-website" class="mod-info"></div>

        <% unless @project.resources.empty? %>
          <div class="mod-info">
            <h3>Additional resources</h3>
            <ul>
              <% @project.resources.each do |resource| %>
                <li><a href="<%= resource.url %>" target="_blank"><%= resource.title %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mod-downloads mod-info">
          <h3>Export data</h3>
          <ul>
            <li><%= download_link('CSV','csv') %></li>
            <li><%= download_link('KML','kml') %></li>
          </ul>
        </div>

      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content" id="content">

        <article class="mod-content-article">
          <h1><%= @project.name %></h1>

          <% unless @project.description.blank? %>
            <section>
              <%= anglo(simple_format(@project.description)) %>
            </section>
          <% end %>

          <% unless @project.media_resources.empty? %>
            <div class="mod-gallery chachi-slider">
              <% @project.media_resources.each do |media_resource| %>
                <% if media_resource.is_a_video? %>
                  <% image_tag(media_resource.video_thumb.url(:medium), :alt => media_resource.caption, :video_id => media_resource.id, :class => "chachi-item") %>
                  <div class="chachi-item"><%= CGI.unescapeHTML(media_resource.video_embed_html).html_safe %></div>
                <% else %>
                  <%= image_tag(media_resource.picture.url(:medium), :alt=> media_resource.caption, :class => "chachi-item") %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if @project.activities || @project.additional_information || @project.cross_cutting_issues%>
            <section>
              <%unless @project.activities.blank? %>
                <h2>Activities</h2>
                <p> <%= raw(@project.activities) %> </p>
              <%end%>
              <%unless @project.additional_information.blank? %>
                <H2 class="<%= (@project.activities.blank?)? 'first':''%>">Additional information</H2>
                <p> <%= raw(@project.additional_information) %> </p>
              <%end%>
              </section>
              <section>
              <%unless @project.cross_cutting_issues.blank? %>
                <h2 class="<%= (@project.activities.blank? && @project.additional_information.blank?)? 'first':''%>">Cross-cutting issues</h2>
                <p> <%= raw(@project.cross_cutting_issues) %> </p>
              <%end%>
            </section>

          <% end %>
          <section id="project-locations"></section>
          <section id="project-sectors"></section>


          <%= render 'new_partials/more_projects' %>

        </div>
      </article>

    </section>
  </div>
</div>
