<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<% content_for :js_vars do %>
  <script>
    <% if @site.overview_map_lat && @site.overview_map_lon %>
    var map_center = [<%= @site.overview_map_lat %>, <%= @site.overview_map_lon %>];
    <% else %>
    var map_center = [];
    <% end %>
    var map_zoom = <%= @site.overview_map_zoom %>;
    var chco = '<%= @overview_map_chco %>';
    var chf = '<%= @overview_map_chf %>';
    var chld = '<%= @chld %>';
    var chd = '<%= @chd %>';
    var map_data = <%=raw(@map_data)%>;
    var map_type = 'project_map';
    var theme = "<%= @site.theme_id %>";
    var kind = window.location.pathname.split('/')[1];
    var stylez = '<%=raw @site.map_styles  %>';
    var empty_layer = <%= @empty_layer.present?? @empty_layer : false %>;
    var video_players = [];
    var globalPage = <%= @site.featured?? true : false %>;
    var page = "<%= params[:controller] %>";
    var geolocation = false;
    var project = <%= raw(@project.to_json) %>;
    console.log(project);
  </script>
<% end %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">
        <div id="project-organization" class="mod-info mod-reporting-organisation"></div>

        <div id="project-timeline" class="mod-info"></div>

        <div id="project-budget" class="mod-info"></div>

        <% unless @project.donations.empty? %>
          <div class="mod-donors mod-info">
            <h3>Donors</h3>
            <ul class="donor_list">
              <% index = 0 %>
              <% @project.donations.group_by(&:donor).each_with_index do |donor_with_donations, index| %>
                <% donor = donor_with_donations.first %>
                <% donations = donor_with_donations.last %>
                <li><%= link_to(donor.name.html_safe, donor_path(donor)) %></li>
                <% index = index + 1 %>
              <% end %>
            </ul>
            <% if index > 5 %>
              <a href="/donors" class="more">More donors</a>
            <% end %>
          </div>
        <% end %>

        <div id="project-awardee" class="mod-info"></div>

        <div id="project-implementingorganization" class="mod-info"></div>

        <div id="project-partnerorganizations" class="mod-info"></div>

        <div id="project-peoplereached" class="mod-info"></div>

        <div id="project-target" class="mod-info"></div>

        <div id="project-contact" class="mod-info"></div>

        <div id="project-website" class="mod-info"></div>

        <% unless @project.resources.empty? %>
          <div class="mod-info">
            <h3>Additional resources</h3>
            <ul>
              <% @project.resources.each do |resource| %>
                <li><a href="<%= resource.url %>" target="_blank"><%= resource.title %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mod-downloads mod-info">
          <h3>Export data</h3>
          <ul>
            <li><%= link_to 'CSV', project_path(@project, :csv), :class => 'csv' %></li>
            <li><%= link_to 'XLS', project_path(@project, :xls), :class => 'xls' %></li>
            <li><%= link_to 'KML', project_path(@project, :kml), :class => 'kml' %></li>
          </ul>
        </div>

      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content" id="content">

        <article class="mod-content-article">
          <h1><%= @project.name %></h1>

          <% unless @project.description.blank? %>
            <section>
              <%= anglo(simple_format(@project.description)) %>
            </section>
          <% end %>

          <% unless @project.media_resources.empty? %>
            <div class="mod-gallery chachi-slider">
              <% @project.media_resources.each do |media_resource| %>
                <% if media_resource.is_a_video? %>
                  <% image_tag(media_resource.video_thumb.url(:medium), :alt => media_resource.caption, :video_id => media_resource.id, :class => "chachi-item") %>
                  <div class="chachi-item"><%= CGI.unescapeHTML(media_resource.video_embed_html).html_safe %></div>
                <% else %>
                  <%= image_tag(media_resource.picture.url(:medium), :alt=> media_resource.caption, :class => "chachi-item") %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if @project.activities || @project.additional_information || @project.cross_cutting_issues%>
            <section>
              <%unless @project.activities.blank? %>
                <h2>Activities</h2>
                <p> <%= raw(@project.activities) %> </p>
              <%end%>
              <%unless @project.additional_information.blank? %>
                <h3 class="<%= (@project.activities.blank?)? 'first':''%>">Additional information</h3>
                <p> <%= raw(@project.additional_information) %> </p>
              <%end%>
              </section>

              <section>
              <%unless @project.cross_cutting_issues.blank? %>
                <h2 class="<%= (@project.activities.blank? && @project.additional_information.blank?)? 'first':''%>">Cross-cutting issues</h2>
                <p> <%= raw(@project.cross_cutting_issues) %> </p>
              <%end%>
            </section>

            <section id="project-locations"></section>
          <% end %>

          <%= render 'new_partials/more_projects' %>

        </div>
      </article>

    </section>
  </div>
</div>
