<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<% content_for :js_vars do %>
  <script>
    <% if @site.overview_map_lat && @site.overview_map_lon %>
    var map_center = [<%= @site.overview_map_lat %>, <%= @site.overview_map_lon %>];
    <% else %>
    var map_center = [];
    <% end %>
    var map_zoom = <%= @site.overview_map_zoom %>;
    var chco = '<%= @overview_map_chco %>';
    var chf = '<%= @overview_map_chf %>';
    var chld = '<%= @chld %>';
    var chd = '<%= @chd %>';
    var map_data = <%=raw(@map_data)%>;
    var max_count = <%=@map_data_max_count%>;
    var map_type = 'project_map';
    var theme = "<%= @site.theme_id %>";
    var kind = window.location.pathname.split('/')[1];
    var stylez = <%=raw @site.map_styles  %>
    var empty_layer = <%= @empty_layer.present?? @empty_layer : false %>;
    var video_players = [];
    var globalPage = <%= @site.featured?? true : false %>;
    var page = "<%= params[:controller] %>";
  </script>
<% end %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">

        <div class="mod-info mod-reporting-organisation">
          <h3>Reporting organisation</h3>
          <% if @project.primary_organization.logo.file? %>
            <a href="<%= organization_path(@project.primary_organization) %>"><%= image_tag(@project.primary_organization.logo.url(:medium)) %></a>
            <%= link_to(@project.primary_organization.name, organization_path(@project.primary_organization)) %>
          <% else %>
            <%= link_to(@project.primary_organization.name, organization_path(@project.primary_organization), :class=>'long') %>
          <% end %>
        </div>

        <% if !@project.end_date.nil? %>
          <div class="mod-info mod-project-timeline" id="timelineView">
            <h3>Project timeline</h3>
            <div class="timeline">
              <span class="timeline-status"></span>
              <% if @project.finished? %>Completed project<% else %><p class="months_left"><%= pluralize(@project.months_left, 'month', 'months') %> left</p><% end %>
            </div>
            <p class="first_date"><%= @project.start_date.strftime("%m/%d/%Y") %></p>
            <p class="second_date"><%= @project.end_date.strftime("%m/%d/%Y") %></p>
          </div>
        <% elsif @project.start_date? %>
          <div class="mod-info">
            <h3>Project timeline</h3>
            <p>Active since <%= @project.start_date.strftime("%m/%d/%Y") %></p>
          </div>
        <% end %>

        <% unless @project.budget.nil? || @project.budget.eql?(0.0) %>
          <div class="mod-project-budget mod-info">
            <h3>Project budget</h3>
            $<span id="projectBudgetValue"><%= number_with_precision(@project.budget, :precision => 0, :delimiter => ',') %></span>
          </div>
        <%end%>

        <% unless @project.donations.empty? %>
          <div class="mod-donors mod-info">
            <h3>Donors</h3>
            <ul class="donor_list">
              <% index = 0 %>
              <% @project.donations.group_by(&:donor).each_with_index do |donor_with_donations, index| %>
                <% donor = donor_with_donations.first %>
                <% donations = donor_with_donations.last %>
                <li><%= link_to(donor.name.html_safe, donor_path(donor)) %></li>
                <% index = index + 1 %>
              <% end %>
            </ul>
            <% if index > 5 %>
              <a href="/donors" class="more">More donors</a>
            <% end %>
          </div>
        <% end %>

        <% if @project.awardee_type.present? %>
          <div class="mod-info">
            <h3>Prime Awardee</h3>
            <p><%= @project.awardee_type %></p>
          </div>
        <% end %>

        <% if @project.implementing_organization? %>
          <div class="mod-info">
            <h3>International Partners</h3>
            <p><%= @project.implementing_organization %></p>
          </div>
        <% end %>


        <% if @project.partner_organizations? && !@project.partner_organizations.eql?('N/A') %>
          <div class="mod-info">
            <h3 class="margin">Local Partners</h3>
            <p><%= @project.partner_organizations %></p>
          </div>
        <% end %>

        <% if @project.estimated_people_reached? %>
          <div class="mod-info mod-people-reached">
            <h3>People reached</h3>
            <span estimate="<%= @project.estimated_people_reached %>" class="people_amount"><%= number_with_delimiter(@project.estimated_people_reached) %></span>
          </div>
        <% end %>

        <% if @project.target? %>
          <div class="mod-info mod-target-groups">
            <h3 class="<%= (@project.estimated_people_reached?)? 'margin':'' %>">Target groups</h3>
            <p><%= @project.target %></p>
          </div>
        <% end %>

        <% unless @project.contact_email.blank? && @project.contact_person.blank? && @project.contact_phone_number.blank? %>
          <div class="contact-info mod-info">
            <h3>Contact information</h3>
            <div class="mod-contact-info">
              <h4><%= @project.contact_person %></h4>
              <p><%= @project.contact_position %></p>
              <p><%= @project.contact_phone_number %></p>
              <% unless (@project.contact_email.nil?)||(@project.contact_email.empty?) %>
               <a class="donations-website" href="mailto:<%= @project.contact_email %>">Project contact email</a>
              <%end%>
            </div>
          </div>
        <% end %>

        <% unless @project.website.blank? %>
          <div class="mod-info">
            <h3>Project website</h3>
            <% unless (@project.website.nil?)||(@project.website.empty?) %>
              <a class="donations-website" href="<%= @project.website %>">Project website</a>
            <%end%>
          </div>
        <% end %>

        <% unless @project.resources.empty? %>
          <div class="mod-info">
            <h3>Additional resources</h3>
            <ul>
              <% @project.resources.each do |resource| %>
                <li><a href="<%= resource.url %>" target="_blank"><%= resource.title %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mod-downloads mod-info">
          <h3>Export data</h3>
          <ul>
            <li><%= link_to 'CSV', project_path(@project, :csv), :class => 'csv' %></li>
            <li><%= link_to 'XLS', project_path(@project, :xls), :class => 'xls' %></li>
            <li><%= link_to 'KML', project_path(@project, :kml), :class => 'kml' %></li>
          </ul>
        </div>

      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content" id="content">

        <article class="mod-content-article">
          <h1><%= @project.name %></h1>

          <% unless @project.description.blank? %>
            <section>
              <%= anglo(simple_format(@project.description)) %>
            </section>
          <% end %>

          <% unless @project.media_resources.empty? %>
            <div class="mod-gallery chachi-slider">
              <% @project.media_resources.each do |media_resource| %>
                <% if media_resource.is_a_video? %>
                  <%# image_tag(media_resource.video_thumb.url(:medium), :alt => media_resource.caption, :video_id => media_resource.id, :class => "chachi-item") %>
                  <div class="chachi-item"><%= CGI.unescapeHTML(media_resource.video_embed_html).html_safe %></div>
                <% else %>
                  <%= image_tag(media_resource.picture.url(:medium), :alt=>media_resource.caption, :class => "chachi-item") %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if @project.activities || @project.additional_information || @project.cross_cutting_issues || (@locations.present? && @locations.to_a.join.present?)%>
            <section>
              <%unless @project.activities.blank? %>
                <h2>Activities</h2>
                <p> <%= raw(@project.activities) %> </p>
              <%end%>
              <%unless @project.additional_information.blank? %>
                <h3 class="<%= (@project.activities.blank?)? 'first':''%>">Additional information</h3>
                <p> <%= raw(@project.additional_information) %> </p>
              <%end%>
              </section>

              <section>
              <%unless @project.cross_cutting_issues.blank? %>
                <h2 class="<%= (@project.activities.blank? && @project.additional_information.blank?)? 'first':''%>">Cross-cutting issues</h2>
                <p> <%= raw(@project.cross_cutting_issues) %> </p>
              <%end%>
            </section>

            <section>
              <%if @locations.present? && @locations.to_a.join.present? %>
                <h2 class="<%= (@project.activities.blank? && @project.additional_information.blank? && @project.cross_cutting_issues.blank?)? 'first':''%>">
                  <%= @locations.count == 1 ? 'Location' : 'Locations' %>
                </h2>
                <ul>
                  <% @locations.each do |location| %>
                    <% if @site.navigate_by_country? && location['country_id'].present? %>
                      <li><%= location['name'] + ', ' if location['name'] and location['name'] != '' %> <%= Country.find(location['country_id'], :select => 'name').name %></li>
                    <% else %>
                      <li><%= location['name'] %></li>
                    <% end %>
                  <% end %>
                </ul>
              <%end%>
            </section>
          <% end %>

          <%= render 'new_partials/more_projects' %>

        </div>
      </article>

    </section>
  </div>
</div>

