<iati-activity xml:lang="en" last-updated-datetime="<%= project.updated_at.xmlschema %>" linked-data-uri="https://www.ngoaidmap.org/projects/<%= project.id %>" >
  <iati-identifier>US-EIN-13-3287064NAM-<%= project.intervention_id %></iati-identifier>
  <reporting-org ref="US-EIN-13-3287064NAM" type="22" secondary-reporter="1">
  <narrative>InterAction’s NGO Aid Map</narrative>
  </reporting-org>
  <title>
   <narrative><%= project.name %></narrative>
  </title>
  <description type="1">
   <narrative><%= strip_tags(project.description) %></narrative>
  </description>
  <% if project.target.present? %>
    <description type="3">
     <narrative><%= strip_tags(project.target) %></narrative>
    </description>
  <% end %>
  <% if project.activities.present? %>
    <description type="4">
     <narrative><%= strip_tags(project.activities) %></narrative>
    </description>
  <% end %>
  <participating-org <% if project.primary_organization.iati_organizationid.present? %> ref="<%= project.primary_organization.try(:iati_organizationid) %>" <% end %> role="4" <% if project.primary_organization.organization_type_code.present? %> type="<%= project.primary_organization.try(:organization_type_code) %>" <% end %> >
    <narrative><%= project.primary_organization.try(:name) %> </narrative>
  </participating-org>
  <% if project.funding_orgs.any? %>
    <% project.funding_orgs.each do  |d| %>
      <participating-org <% if d.iati_organizationid.present? %> ref="<%= d.iati_organizationid %>" <% end %> role="1"   <% if d.organization_type_code.present? %> type="<%= d.organization_type_code %>" <% end %> >
      <narrative><%= d.name %> </narrative>
    </participating-org>
    <% end %>
  <% end %>
  <% if project.partners.any? %>
    <% project.partners.each do |p| %>
        <participating-org <% if p.iati_organizationid.present? %> ref="<%= p.iati_organizationid %>" <% end %>role="4" <% if p.organization_type_code.present? %>type="<%= p.organization_type_code %>"<% end %>>
            <narrative><%= p.name %></narrative>
        </participating-org>
    <% end %>
  <% end %>
  <other-identifier ref="<%= project.intervention_id %>" type="A1">
    <owner-org ref="US-EIN-13-3287064NAM">
      <narrative>InterAction’s NGO Aid Map</narrative>
    </owner-org>
  </other-identifier>
  <% if project.organization_id.present? %>
  <other-identifier ref="<%= project.try(:organization_id) %>" type="B9">
    <owner-org <% if project.primary_organization.iati_organizationid.present? %> ref="<%= project.primary_organization.try(:iati_organizationid) %>" <% end %> >
      <narrative><%= project.primary_organization.name %></narrative>
    </owner-org>
  </other-identifier>
  <% end %>
  <% if project.active? %>
    <activity-status code="<%= project.activity_status %>" />
    <activity-date iso-date="<%= project.start_date.strftime("%Y-%m-%d") %>" type="1">
      <narrative>Planned start date of the activity</narrative>
    </activity-date>
    <activity-date iso-date="<%= project.end_date.strftime("%Y-%m-%d") %>" type="3">
      <narrative>Planned end date of the activity</narrative>
    </activity-date>
  <% else %>
    <activity-status code="<%= project.activity_status %>" />
    <activity-date iso-date="<%= project.start_date.strftime("%Y-%m-%d") %>" type="2">
      <narrative>Actual start date of the activity</narrative>
    </activity-date>
    <activity-date iso-date="<%= project.end_date.strftime("%Y-%m-%d") %>" type="4">
      <narrative>Actual end date of the activity</narrative>
    </activity-date>
  <% end %>
  <contact-info type="1">
  <person-name>
    <narrative><%= project.contact_person %></narrative>
  </person-name>
  <job-title>
    <narrative><%= project.contact_position %></narrative>
  </job-title>
    <email><%= project.contact_email %></email>
    <website><%= project.primary_organization.try(:website) %></website>
  </contact-info>
  <% if project.countries.any? %>
    <% project.countries.each_with_index do |c,i| %>
      <recipient-country code="<%= c.country_code %>" percentage="<%=
      if project.countries.size > 1
        then
        if i+1 == project.countries.size
          then
          (100.to_f/project.countries.size).ceil
        else
          (100.to_f/project.countries.size).floor
        end
      else
        100
        end %>" />
    <% end %>
  <% end %>
  <% if project.iati_locations.any? %>
    <% project.iati_locations.each do |l| %>
        <location ref="<%= l.uid %>">
         <location-id vocabulary="<%= l.iati_provider %>" code="<%= l.iati_uid %>" />
         <name>
          <narrative><%= l.name %></narrative>
        </name>
        <description>
          <narrative><%=l.name %>, <%= l.country_name %></narrative>
        </description>
        <administrative vocabulary="<%= l.iati_provider %>" level="<%= l.adm_level %>" code="<%= l.iati_uid %>" />
         <point srsName="http://www.opengis.net/def/crs/EPSG/0/4326">
          <pos><%= l.latitude %> <%= l.longitude %></pos>
        </point>
        <exactness code="2"/>
        <location-class code="<%= l.adm_level == 1 ? 1 : '' %>"/>
      </location>
    <% end %>
  <% end %>
  <% if project.geographical_scope && (project.geographical_scope == 'national' || project.geographical_scope == 'global') %>
    <% if project.geographical_scope == 'national' %>
      <activity-scope code="4" />
    <% else %>
      <activity-scope code="1" />
    <% end %>
  <% end %>
  <% if project.sectors.any? %>
    <% project.sectors.each_with_index do |s, i| %>
      <sector vocabulary="<%= s.sector_vocab_code %>" code="<%= s.oecd_dac_purpose_code.present? ? s.oecd_dac_purpose_code : s.id %>" percentage="<%=
        if project.sectors.size > 1
          then
          if i+1 == project.sectors.size
            then
            (100.to_f/project.sectors.size).ceil
          else
            (100.to_f/project.sectors.size).floor
          end
        else
          100
          end %>">
          <narrative><%= s.oecd_dac_name.present? ? s.oecd_dac_name : s.name %></narrative>
        </sector>
    <% end %>
  <% end %>
  <% if project.budget.present? && project.budget.to_i != 0 %>
    <transaction>
      <transaction-type code="2" />
      <transaction-date iso-date="<%= project.start_date.strftime("%Y-%m-%d") %>" />
      <value currency="USD" value-date="<%= project.budget_value_date.present? ? project.budget_value_date.strftime("%Y-%m-%d") : project.start_date.strftime("%Y-%m-%d") %>"><%= project.budget.to_i %></value>
      <description>
        <narrative>Total project budget</narrative>
      </description>
      <provider-org <% if project.provider_org.present? &&  project.provider_org.iati_organizationid.present? %> ref="<%= project.provider_org.try(:iati_organizationid) %>" <% end %> >
        <narrative><%= project.provider_org.name %></narrative>
      </provider-org>
      <receiver-org <% if project.primary_organization.iati_organizationid.present? %> ref="<%= project.primary_organization.try(:iati_organizationid) %>" <% end %> >
        <narrative><%= project.primary_organization.name %></narrative>
      </receiver-org>
    </transaction>
  <% end %>
  <% if project.website.present? %>
    <document-link format="text/html" url="<%= project.website %>">
      <title>
        <narrative>Project Website</narrative>
      </title>
      <category code="A12" />
    </document-link>
  <% end %>
  <result type="1" aggregation-status="0">
     <title>
      <narrative>Project Reach</narrative>
     </title>
     <indicator measure="1">
       <title>
        <narrative>Project Reach <%= "(#{project.project_reach_unit})" if project.project_reach_unit %></narrative>
       </title>
       <period>
        <period-start iso-date="<%= project.start_date %>" />
        <period-end iso-date="<%= project.end_date %>" />
        <% if project.target_project_reach %>
          <target value="<%= trim(project.target_project_reach) %>">
          </target>
        <% end %>
        <% if project.actual_project_reach %>
          <actual value="<%= trim(project.actual_project_reach) %>">
          </actual>
        <% end %>
       </period>
     </indicator>
  </result>
</iati-activity>