<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">

        <!-- Highlighted results -->
        <div id="sidebar-highlights" class="mod-highlighted-results mod-info"></div>

        <!-- Projects locations -->
        <div id="sidebar-locations" class="mod-info"></div>

        <!-- Sectors by projects -->
        <div id="sidebar-sectors" class="project-sectors mod-info"></div>

        <!-- Sectors by projects -->
        <div id="sidebar-donors" class="project-donors mod-info"></div>


        <script> var sector = <%= raw(@sector.to_json) %>; console.log('** sector **'); console.log(sector); console.log('** ********* **')</script>
      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content">

        <header>
          <h1 id="title-sector" class="section-title" data-id="<%= @sector.id %>" data-name="<%= @sector.name %>"><%= @sector.name %></h1>
          <!-- <h1 class="section-title"><%#= clusters_sectors_projects_list_subtitle %></h1> -->
        </header>

        <%#= render :partial => 'new_partials/downloads', :locals => { :csv_path => organization_path(@organization, @carry_on_filters.merge(:format => :csv)), :xls_path => organization_path(@organization, @carry_on_filters.merge(:format => :xls)), :kml_path => organization_path(@organization, @carry_on_filters.merge(:format => :kml)) } %>

        <%= render "new_partials/index_projects" %>

      </section>
    </div>
  </div>
</div>
