<%= render 'partials/map' %>
<%= render 'partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <section class="layout-content grid-12 offset-1">

      <header>
        <h1 id="title-sector" class="section-title" data-id="<%= @sector.id %>" data-name="<%= @sector.name.html_safe %>"><%= @sector.name.html_safe %></h1>
      </header>

      <%= render "partials/index_projects" %>

    </section>

    <aside class="layout-sidebar grid-4">

      <!-- Highlighted results -->
      <div id="sidebar-highlights" class="mod-highlighted-results mod-info" data-highlights="[&#34;projects_count&#34;]"></div>

      <!-- Projects locations -->
      <div id="sidebar-locations" class="mod-info"></div>

      <!-- Sectors by projects -->
      <div id="sidebar-sectors-all" class="project-sectors mod-info"></div>

      <div id="sidebar-organizations" class="mod-info"></div>

      <!-- Sectors by projects -->
      <div id="sidebar-donors" class="project-donors mod-info"></div>


      <script> var sector = <%= raw(@sector.to_json) %>;</script>
    </aside>
  </div>
</div>
