<%= render 'partials/map' %>
<%= render 'partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <section class="layout-content grid-12 offset-1">

      <!--<header class="mod-index-item">-->
      <header class="mod-project-list-header">
        <!--<h1 id="title-organization" data-id="<%= @organization.id %>" data-name="<%= @organization.name.html_safe %>" class="section-title"><%= @organization.name %></h1>-->
        <ul class="project-filter-list">
          <li>
            <p class="project-filter-list-item-heading organization">Reporting Organization</p>
            <h1 data-id="<%= @organization.id %>" data-name="<%= @organization.name.html_safe %>" class="project-filter-list-item-value"><%= @organization.name %></h1>

          </li>
        </ul>

        <% if @organization.acronym? %>
          <p style="margin-bottom: 30px">
            <strong>Acronym(s):</strong> <%= @organization.acronym %>
          </p>
        <% end %>

        <%= content_tag(:p, sanitize(@organization.description, {tags: %w(strong em a li), attributes: %w(href)}), :class => 'preserve-lines') if @organization.description.present? %>
      </header>

      <div class="mod-organization-details is-clearfix">
        <% if @organization.logo? %>
          <div class="logo">
            <%= image_tag @organization.logo.url(:medium), :alt=>"" %>
          </div>
        <% end %>

        <table class="organization-details">
          <% if @organization.budget? %>
            <tr>
              <th>
                Annual Budget
              </th>
              <td>
                <%- if @organization.budget_usd? -%>
                  <%= number_to_currency(@organization.budget_usd, precision: 0) %>
                  <%- if @organization.budget_currency? && @organization.budget_currency != 'USD'  -%>
                    (Converted from <%= @organization.budget_currency %>)
                  <%- end -%>
                <%- else -%>
                  <% if @organization.budget_currency? %>
                    <%= number_with_precision(@organization.budget, :precision => 0, :delimiter => ',') %>
                    (<%= @organization.budget_currency %>)
                  <%- else -%>
                    <%= number_to_currency(@organization.budget, precision: 0) %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>

          <% if @organization.budget_fiscal_year? %>
            <tr>
              <th>
                Fiscal Year (end date)
              </th>
              <td>
                <%= @organization.budget_fiscal_year.strftime("%B %d, %Y") %>
              </td>
            </tr>
          <% end %>

          <% if @organization.website? %>
            <tr>
              <th>
                Website
              </th>
              <td>
                <a href="<%= @organization.website %>"><%= URI.unescape(@organization.website) %></a>
              </td>
            </tr>
          <% end %>

          <% if @organization.twitter? %>
            <tr>
              <th>
                Twitter
              </th>
              <td>
                <a href="<%= @organization.twitter %>"><%= URI.unescape(@organization.twitter) %></a>
              </td>
            </tr>
          <% end %>

          <% if @organization.facebook? %>
            <tr>
              <th>
                Facebook
              </th>
              <td>
                <a href="<%= @organization.facebook %>"><%= URI.unescape(@organization.facebook) %></a>
              </td>
            </tr>
          <% end %>

          <% if @organization.hq_address? %>
            <tr>
              <th>
                Primary Address
              </th>
              <td>
                <p><%= @organization.hq_address %></p>
                <% if @organization.hq_address2? %>
                  <p><%= @organization.hq_address2 %></p>
                <% end %>
                <% if @organization.contact_city? && @organization.contact_state? %>
                <p><%= @organization.contact_city %>, <%= @organization.contact_state %> <%= @organization.contact_zip %></p>
                <% end %>
                <% if @organization.contact_country? %>
                  <p><%= @organization.contact_country %></p>
                <% end %>
              </td>
            </tr>
          <% end %>

        </table>
      </div>

      <%= render "partials/index_projects" %>

      <% unless @organization.media_resources.empty? %>
        <section>
          <h2 class="screen-reader">Related Resources</h2>

          <div class="mod-gallery chachi-slider">
            <% @organization.media_resources.each do |media_resource| %>
              <% if media_resource.is_a_video? %>
                <% image_tag(media_resource.video_thumb.url(:medium), :alt => media_resource.caption, :video_id => media_resource.id, :class => "chachi-item") %>
                <div class="chachi-item"><%= CGI.unescapeHTML(media_resource.video_embed_html).html_safe %></div>
              <% else %>
                <%= image_tag(media_resource.image_url, :alt=> media_resource.caption, :class => "chachi-item") %>
              <% end %>
            <% end %>
          </div>
        </section>
      <% end %>

    </section>

    <aside class="layout-sidebar grid-4">

      <!-- Highlighted results -->
      <div id="sidebar-highlights" class="mod-highlighted-results mod-info" data-highlights="[&#34;projects_count&#34;]"></div>

      <!-- Sectors by projects -->
      <div id="sidebar-sectors" class="project-sectors mod-info"></div>

      <!-- Projects locations -->
      <div id="sidebar-locations" class="mod-info"></div>

      <!-- Organization Sidebar -->
      <div id="sidebar-organization-resources" class="mod-info"></div>
      <div id="sidebar-organization-infocontact" class="mod-info"></div>
      <div id="sidebar-organization-donationcontact" class="mod-info"></div>
      <div id="sidebar-organization-mediacontact" class="mod-info"></div>
      <div id="sidebar-organization-followus" class="mod-info"></div>



      <script>
        var organization = <%= raw(@organization.to_json) %>;
        var organization_resources = <%= raw(@organization.resources.to_json) %>;
      </script>
    </aside>
  </div>
</div>
