<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">

        <!-- Highlighted results -->
        <div id="sidebar-highlights" class="mod-highlighted-results mod-info"></div>

        <!-- Sectors by projects -->
        <div id="sidebar-sectors" class="project-sectors mod-info"></div>

        <!-- Projects locations -->
        <div id="sidebar-locations" class="mod-info"></div>

        <!-- Organization Sidebar -->
        <div id="sidebar-organization-infocontact" class="mod-info"></div>
        <div id="sidebar-organization-donationcontact" class="mod-info"></div>
        <div id="sidebar-organization-mediacontact" class="mod-info"></div>
        <div id="sidebar-organization-followus" class="mod-info"></div>



        <script> var organization = <%= raw(@organization.to_json) %>; console.log('** organization **'); console.log(organization); console.log('** ********* **')</script>
      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content">

        <header>
          <h1 class="section-title"><%= projects_list_subtitle %></h1>
          <%= simple_format(@organization.description) if @organization.description.present? %>
        </header>

        <%#= render :partial => 'new_partials/downloads', :locals => { :csv_path => organization_path(@organization, @carry_on_filters.merge(:format => :csv)), :xls_path => organization_path(@organization, @carry_on_filters.merge(:format => :xls)), :kml_path => organization_path(@organization, @carry_on_filters.merge(:format => :kml)) } %>

        <%= render "new_partials/index_projects" %>

      </section>
    </div>
  </div>
</div>
