<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">

        <!-- Highlighted results -->
        <div id="sidebar-highlights" class="mod-highlighted-results mod-info" data-highlights="[&#34;projects_count&#34;]"></div>

        <!-- Sectors by projects -->
        <div id="sidebar-sectors" class="project-sectors mod-info"></div>

        <!-- Projects locations -->
        <div id="sidebar-locations" class="mod-info"></div>

        <!-- Organization Sidebar -->
        <div id="sidebar-organization-infocontact" class="mod-info"></div>
        <div id="sidebar-organization-donationcontact" class="mod-info"></div>
        <div id="sidebar-organization-mediacontact" class="mod-info"></div>
        <div id="sidebar-organization-followus" class="mod-info"></div>



        <script> var organization = <%= raw(@organization.to_json) %>;</script>
      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content">

        <header>
          <h1 id="title-organization" data-id="<%= @organization.id %>" data-name="<%= @organization.name.html_safe %>" class="section-title"><%= @organization.name %></h1>
          <%= simple_format(@organization.description) if @organization.description.present? %>
        </header>

        <%= render :partial => 'new_partials/downloads' %>

        <%= render "new_partials/index_projects" %>

      </section>
    </div>
  </div>
</div>
