<div class="mod-report-builder container-fluid">
  <div class="row">
    <nav class="col-md-3 col-md-offset-1 is-unprintable">
      <% cache '#{@site.id}/reports' do %>
        <div class="mod-report-filter mod-form" id="reportFormView">

          <%= form_tag(report_generate_path(:format=>:json), :remote => true,  :method => :get) do %>

            
            <label for="main-search">Project Title</label>
            <div class="search">
              <input id="main-search" type="text" value="<%= params[:q] %>" placeholder = "Search project titles" name="q" class="main_search"/>
              <%= submit_tag '', :style => 'width: 1.5em' %>
            </div>

            <ul class="combo_search_select">
              <li class="comboselect">
                <label for="organization">REPORTING ORGANIZATION</label>
                <%= select_tag :organization, options_for_select(@org_combo_values, params[:organization]), :class => :"chzn-select", :multiple => true, :size => 5, :placeholder => "Select organization" %>
              </li>

              <li class="comboselect">
                <label for="country">COUNTRY</label>
                <%= select_tag :country,
                  options_for_select(@countries_combo_values, params[:country]), :class => :"chzn-select", :multiple => true, :size => 5, :placeholder => "Select country" %>
              </li>

              <li class="comboselect">
                <label for="sector">SECTOR</label>
                <%= select_tag :sector,
                  options_for_select(@sectors_combo_values, params[:sector]), :class => :"chzn-select", :multiple => true, :size => 5, :placeholder => "Select sector" %>
              </li>

              <li class="comboselect">
                <label for="donor">DONOR</label>
                <%= select_tag :donor,
                  options_for_select(@donors_combo_values, params[:donor]), :class => :"chzn-select", :multiple => true, :size => 5, :placeholder => "Select donor"%>
              </li>

              <li>
                <label for="budget_min">Project Budget Min (USD)</label>
                <div class="budget-input-wrapper">
                    <span>$</span>
                    <%= text_field_tag :budget_min, params[:budget_min] %>
                </div>
              </li>


              <li>
                <label for="budget_max">Project Budget Max  (USD)</label>
                <div class="budget-input-wrapper">
                    <span>$</span>
                    <%= text_field_tag :budget_max, params[:budget_max] %>
                </div>
              </li>

              <li class="comboselect date" id="startDateSelector">
                <label for="start_date">Projects Active Between</label>
                <div class="select_date">
                  <%= select_date @date_start, {:prefix => :start_date, :use_short_month =>true, :start_year => Date.parse('1985-1-1').year, :end_year => Time.now.year} %>
                </div>
              </li>

              <li class="comboselect date" id="endDateSelector">
                <label for="end_date">AND</label>
                <div class="select_date">
                  <%= select_date @date_end, {:prefix => :end_date, :use_short_month =>true, :start_year => Date.parse('1985-1-1').year, :end_year => Time.now.year} %>
                </div>
              </li>

              <li class="comboselect" id="activeProjects">
                <label><%= check_box_tag 'active_projects', 'yes', params.has_key?(:active_projects) %> Show only currently active projects</label>
              </li>

              <li>
                <button class="reset" id="resetBtn" type="reset">Reset filters</button>
                <button class="apply" type="submit">Apply filters</button>
              </li>
            </ul>

          <% end %>
        </div> <!-- mod-report-filter -->
      <% end %>
    </nav>

    <section class="col-md-7 filter-results-wrapper">

      <div class="report-spinner" id="spinView"></div>

      <article class="mod-content-article mod-report-results">
        <div id="titleView" class="report-title text-center">
          <textarea placeholder="Your Title"></textarea>
          <button class="is-inline-btn is-unprintable">Edit</button>
        </div>

        <div id="introView" class="mod-report-results mod-report-intro">
          <p>Start applying some filters to generate a report.</p>
          <p><%= image_tag "arrow-reports.svg" %></p>
        </div>

        <div id="filtersView" class="mod-applied-filters is-hidden"></div>

        <div id="summaryView" class="mod-report-results mod-report-summary is-hidden"></div>

        <div id="budgetsView" class="mod-report-results mod-report-budget is-hidden"></div>

        <div id="timelineChartsView" class="mod-report-results is-break-before is-hidden">
          <div id="modReportsTabs">
            <ul>
              <li><a href="#projectTab">Active Projects Over Time</a></li>
              <li><a href="#organizationTab">Active Organizations Over Time</a></li>
            </ul>
            <div id="projectTab">
              <div class="mod-report-line-chart" id="projectsChart"></div>
            </div>
            <div id="organizationTab">
              <div class="mod-report-line-chart" id="organizationsChart"></div>
            </div>
          </div>
        </div>

        <div id="projectsListView" class="row mod-report-results mod-report-lists is-break-before is-hidden"></div>
        <div id="donorsListView" class="row mod-report-results mod-report-lists is-break-before is-hidden"></div>
        <div id="organizationsListView" class="row mod-report-results mod-report-lists is-break-before is-hidden"></div>
        <div id="countriesListView" class="row mod-report-results mod-report-lists is-break-before is-hidden"></div>
        <div id="sectorsListView" class="row mod-report-results mod-report-lists is-break-before is-hidden"></div>
        
        <div id="donorsSnapshotView" class="mod-report-results no-summary-wrap is-break-before is-invisible"></div>
        <div id="organizationsSnapshotView" class="mod-report-results no-summary-wrap is-break-before is-invisible"></div>
        <div id="countriesSnapshotView" class="mod-report-results no-summary-wrap is-break-before is-invisible"></div>
        <div id="sectorsSnapshotView" class="mod-report-results no-summary-wrap is-break-before is-invisible"></div>

        <div id="actionsView" class="mod-report-results mod-report-actions text-center is-unprintable is-hidden is-clearfix">
            <button id="printReport">Print</button>
            <a id="download" download="report_projects.csv">Download Projects</a>
        </div>

        <div id="limitationsView" class="mod-report-results mod-report-limitations is-hidden is-clearfix">
          <h3>Limitations</h3>
          <ol type="1">
            <li id="limitations1">This reporting tool draws on the full NGO Aid Map database, including both inactive and currently active projects. This is a significantly larger set of data than that visible on the map, which only displays currently active projects. In addition, the database contains data contributed by both InterAction members and non-member organizations. Data may be added and/or modified by organizations at any time, which may lead to different results if two reports are run at different points in time using the same filter parameters. For additional information on data limitations, please visit: <a href="https://www.ngoaidmap.org/p/data">https://www.ngoaidmap.org/p/data</a></li>
            <li id="limitations2">Global projects matching selected filters are included in the results.  Though distinct from country-level data, 'Global' is included here in the country counts and lists.</li>
            <li id="limitations3">Not all organizations provide project budget information, and organizations may not provide budget information for all projects.</li>
            <li id="limitations4">The collection of data for NGO Aid Map began in 2010, but the start dates of many of the projects that have been submitted precede that date. For more information about the history of NGO Aid Map, please visit: <a href="https://www.ngoaidmap.org/p/history">https://www.ngoaidmap.org/p/history</a>.</li>
          </ol>
        </div>

      </article>

    </section>

  </div>
</div>
