<div class="mod-explore-stories">
    <%= render 'partials/explore/header' %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 stories-left">
                
            </div>
            <div class="col-md-6 stories-right">
                <h2>Share Your NGO Aid Map Story</h2>
                <p class="instructions">Have a good story about how NGO Aid Map has benefited you or your organization? Or just want to share some positive vibes about the map?</p>
                <p class="instructions">Let our community know by filling out the form below. Make it pop with a picture or your logo!</p>
                <hr class="gradient-line">
                <%= form_tag do %>
                    <div class="col-md-6 form-group">
                        <%= label_tag :story, 'What would you like to share?', :class=>'sr-only' %>
                        <%= text_area_tag :story,nil, :class => 'form-control', :placeholder => 'What would you like to share?', :required => true, :autofocus=>true, :maxlength => 2500, :spellcheck => true, :rows => 7 %>
                    </div>
                    
                    <div class="col-md-6 form-group">
                        <%= label_tag :name, 'Your Name', :class=> 'sr-only' %>
                        <%= text_field_tag :name,nil, {:class => 'form-control', :placeholder => 'Your Name'} %>
                        
                        <%= label_tag :email, 'Your Email', :class=>'sr-only' %>
                        <%= text_field_tag :email,nil, {:class => 'form-control', :placeholder => 'Email'} %>
                        
                        <%= label_tag :organization, 'Your Organization', :class=>'sr-only' %>
                        <%= text_field_tag :organization,nil, {:class => 'form-control', :placeholder => 'Your Organization'} %>
                        
                    </div>
                    
                    <div class="col-md-12 text-center">
                        <%= submit_tag 'Share It'%>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
        
</div>