<div class="mod-explore-stories">
    <div class="container-fluid">
        <div class="story-header-text">
            <a href="#new_story_header" class="btn btn-default">Tell Your Story</a>
        </div>
        <div class="row">
            <div class="col-xs-12 stories-left">
                <div class="col-md-6 col-md-offset-3">
                
                    <% @stories.order('created_at desc').each do |story| %>
                        <div class="row">
                            <div class="col-sm-3 avatar-wrapper">
                                <%= image_tag 'avatar.svg', :class => 'avatar' %>
                                <div class="avatar-label">
                                    <%= user_profession(story) %>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <p class="story-text">
                                    <%=story.try(:story) %>
                                </p>
                                <div class="story-owner">
                                    <span class="story-owner-name">
                                        <% if story.name.present? %>
                                            <%= story.name %>
                                        <% else %>Anonymous<% end %>
                                    </span>
                                    <span class="story-owner-org">
                                        <% if story.organization.present? %>
                                            <%= ",  #{story.organization}" %>
                                        <% end %>
                                    </span>
                                </div>
                                <% if story.image.file? %>
                                    <%= image_tag story.image.url, :class => 'story-image'%>
                                <% end %>
                            </div>
                        </div>
                        <hr>
                    <% end %>
                    
                </div>
            </div>
            
            <nav class="col-xs-12 mod-pagination">
                <%= paginate(@stories) %>
            </nav>
            
            <div class="col-md-6 col-md-offset-3 col-xs-12 stories-right">
                <h2 id="new_story_header" class="text-center">Share Your NGO Aid Map Story</h2>
                <p class="instructions">Have a good story about how NGO Aid Map has benefited you or your organization? Or just want to share some positive vibes about the map?</p>
                <p class="instructions">Let our community know by filling out the form below. Make it pop with a picture or your logo!</p>

                <%= form_for @story, :remote => true, :html => { :multipart => true,:class => 'container-fluid story-form' } do |f| %>
                    <div class="row">
                    
                        <div class="col-sm-10 col-sm-offset-1 form-group">
                            <%= f.label :story, 'Story / Message*', { :class => 'control-label' } %>
                            <%= f.text_area :story,{:class => 'form-control', :placeholder => 'Tell your NGO Aid Map story, or write a brief note...', :required => true, :maxlength => 2500, :spellcheck => true, :rows => 4} %>
                        </div>
                        
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <%= f.label :name, 'Name', { :class => 'control-label' } %>
                                    <%= f.text_field :name, {:class => 'form-control'} %>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <%= f.label :email, 'Email', { :class => 'control-label' } %>
                                    <%= f.email_field :email, {:class => 'form-control'} %>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <%= f.label :organization, 'Organization', { :class => 'control-label' } %>
                                    <%= f.text_field :organization, {:class => 'form-control'} %>
                                </div>
                                
                                <div class="col-sm-6 form-group">
                                    <%= f.label :image, 'Add a Picture', { :class => 'control-label' } %>
                                    <div class="upload-wrapper text-center">
                                        <span class="filename form-control" id="picture_filename">No File Chosen</span>
                                        <div class="upload-btn btn btn-info">
                                            <span>Choose File</span>
                                            <%= f.file_field :image, :class => 'upload' %>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <%= f.label :user_profession, 'Which Best Describes You?', { :class => 'control-label' } %>
                                    <%= f.select :user_profession, options_for_select([[:practitioner],[:researcher],[:journalist],['Donor / Investor',:donor],[:other]]),{:prompt => 'Select One'},{:class => 'chzn-select form-control'} %>
                                </div>
                            </div>
                        </div>
                        
                        <p id="form_messages" class="col-sm-10 col-sm-offset-1 text-center hidden"></div>
                        <div class="text-center">
                            <%= f.submit 'Share It', :id => 'story_submit', :class => 'btn btn-primary btn-lg'%>
                        </div>
                        
                    </div>
                <% end %>
            </div>
        </div>
    </div>
        
</div>
<script type="text/javascript">
    document.getElementById("story_image").onchange = function () {
        document.getElementById("picture_filename").innerHTML = this.value;
    };
</script>