<% cache("#{@site.id}/footer") do %>
  <div class="featured-projects">
    <div class="row">
      <div class="grid-17">
        <div class="mod-featured-projects">

          <div class="title">
            <h4>Featured maps</h4>
          </div>

          <ul>
            <% @site.featured_sites.each do |s|  %>
                <li class="featured-project">
                  <a href="http://<%= s.url %>" target"_self" >
                    <img src="<%= s.aid_map_image.url %>" alt="" width="200" height="115">
                    <p><%= s.name %></p>
                  </a>
                </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <footer class="mod-footer">
    <div class="row">
      <div class="mod-footer-top">
        <div class="grid-6 offset-5">
          <%= render 'new_partials/main-menu' %>
        </div>
        <div class="grid-4">
          <a href="http://<%= Settings.main_site_host %>">
            <%= image_tag "footer_ngo.svg", :alt  => "interaction aid map logo", :class  => "aid-map-logo", :width => '170', :height => '80' %>
          </a>
        </div>
        <div class="grid-2">
        <a href="http://www.interaction.org/" target="_blank">
          <%= image_tag "footer_interaction.svg", :alt  => "interaction aid map logo", :class  => "aid-map-logo", :width => '95', :height => '105' %>
        </a>
        </div>
      </div>
    </div>

    <div class="mod-footer-bottom">
      <div class="row">
        <div class="grid-7">
          <div class="address">
            <p>1400 16th Street, NW. Suite 210 Washington, DC 20036</p>
          </div>
        </div>
        <div class="grid-7 offset-3">
          <div class="signature">
            <p>Copyrighted by <a href="http://www.interaction.org/" target="_blank">InterAction</a> © 2014 · Developed by <a href="http://simbiotica.es" target="_blank" class="link-to-simbiotica">Simbiótica</a></p>
          </div>
        </div>
  		</div>
  	</div>

  </footer>
<% end %>
