<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% unless CGI.unescapeHTML(title) == 'generic' %><%= CGI.unescapeHTML(title) %><% else %>Welcome<% end %> · NGO Aid Map</title>
    <%= stylesheet_link_tag "main" %>
    <link rel="icon" type="image/png" href="http://www.interaction.org/sites/default/files/interaction_favicon_0.png">
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="main-content">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "../vendor/requirejs/require", "main" %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= @site.google_analytics_id %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>

  </body>
</html>
