<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="content" content="NGO Aid Map emebedded map">
    <meta name="google-site-verification" content="r4LPeTYNAKGuj7MPrkGpDgZ2ZXaKpVqn-nV7ixs5-sQ">

    <%= stylesheet_link_tag "http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css", "embed.css" %>

    <% if Rails.env.development? %>
      <link rel="icon" type="image/png" href="/app/images/favicon-dev.png">
    <% else %>
      <link rel="icon" type="image/png" href="/dist/images/favicon.png">
    <% end %>

    <script type="text/javascript">
      <% if @overview_map_bbox %>
      var bbox = <%=raw(@overview_map_bbox.to_json)%>;
      <% end %>
      var MAP_EMBED = true;
      <% if @site.overview_map_lat && @site.overview_map_lon %>
      var map_center = [<%= @site.overview_map_lat %>, <%= @site.overview_map_lon %>];
      <% else %>
      var map_center = [];
      <% end %>
      var map_zoom = <%= @site.overview_map_zoom %> || 5;
      var chco = "<%=@overview_map_chco%>";
      var chf = "<%=@overview_map_chf%>";
      var chld = "<%=@chld%>";
      var chd = "<%=@chd%>";
      var marker_source = "<%=@georegion_map_marker_source%>";
      var map_data = <%=raw(@map_data)%>;
      var max_count = <%=@map_data_max_count? @map_data_max_count : 1 %>;
      var map_type = '<%= @map_type || 'overview_map' %>';
      var theme = "<%=@site.theme_id%>";
      var stylez = <%=raw @site.map_styles  %>
      var empty_layer = false;
      var kind = window.location.pathname.split('/')[1];
      var globalPage = <%= @site.featured?? true : false %>;
      var page = "<%= params[:controller] %>";
    </script>
    <%= javascript_include_tag "../lib/modernizr/modernizr.custom.js" %>

    <%= csrf_meta_tag %>
  </head>
  <body class="embed-page">
    <section class="layout-embed-map" id="mapView">

      <div class="mod-map-controls">

        <div class="control-navbar">
          <% if SiteLayer.where({:site_id => @site.id}).length >= 1 %>
            <div class="selector menu-item" id="layerSelector">
              <ul>
                <li><span class="current-selector index-item">Layer</span>
                  <ul class="selector-options submenu">
                    <li class="submenu-item"><a href="#" data-layer="none">None</a></li>
                    <% SiteLayer.where({:site_id => @site.id}).each do |sl| %>
                      <li class="submenu-item"><a href="#" id="CBLayer<%= sl.layer.id %>" data-min="<%= sl.layer.min %>" data-max="<%= sl.layer.max %>" data-layer="<%= sl.layer.title %>"
                        data-sql="<%= sl.layer.sql %>" data-units="<%= sl.layer.units %>" data-style="<%= sl.layer_style.name %>" data-table="<%= sl.layer.cartodb_table %>" data-overlay="#Overlay<%= sl.layer.id %>"><%= sl.layer.title %> <span class="icon-info"></span></a></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          <% end %>

          <div class="selector menu-item" id="mapTypeSelector">
            <ul>
              <li>
                <span class="current-selector index-item">Roadmap</span>
                <ul class="selector-options submenu">
                  <li class="is-hidden submenu-item" id="emptyLayer"><a href="#" data-type="EMPTY">Empty</a></li>
                  <li class="submenu-item"><a href="#" id="roadmapLayer" data-type="ROADMAP">Roadmap</a></li>
                  <li class="submenu-item"><a href="#" id="terrainLayer" data-type="TERRAIN">Terrain</a></li>
                  <li class="submenu-item"><a href="#" id="hybridLayer" data-type="HYBRID">Hybrid</a></li>
                  <li class="submenu-item"><a href="#" id="satelliteLayer" data-type="SATELLITE">Satellite</a></li>
                </ul>
              </li>
            </ul>
          </div>

        </div> <!-- control-navbar -->

        <div class="control-zoom" id="controlZoom">
          <a href="#zoom-in" class="zoom-out" id="zoomOut">-</a>
          <a href="#zoom-in" class="zoom-in" id="zoomIn">+</a>
        </div>

      </div> <!-- controls -->


      <div id="map"></div>

      <div id="legendWrapper"></div>

    </section>

    <% SiteLayer.where({:site_id => @site.id}).each do |sl| %>
      <div id="Overlay<%= sl.layer.id %>" class="mod-overlay layer-overlay">
        <div class="mod-overlay-content">
          <div class="text">
            <a class="mod-overlay-close" href="#">x</a>
            <h2><%= sl.layer.long_title %></h2>
            <p><%= sl.layer.description.html_safe %></p>
            <p><%= sl.layer.credits.html_safe %></p>
          </div>
        </div>
      </div>
    <% end %>

    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyA2xfzq0KmJZIlGIpxXK1CjXa6enzmPGlM&sensor=false" %>
    <%= javascript_include_tag "http://libs.cartocdn.com/cartodb.js/v3/cartodb.js" %>
    <%= javascript_include_tag "../vendor/requirejs/require", "application/main" %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= @site.google_analytics_id %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>

  </body>
</html>
