<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Explore Data · NGO Aid Map</title>
    <meta name="content" content="NGO Aid Map report generator.">
<!--     <meta name="viewport" content="width=980px"> -->
    <meta name="google-site-verification" content="r4LPeTYNAKGuj7MPrkGpDgZ2ZXaKpVqn-nV7ixs5-sQ">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.ie.css" />
    <![endif]-->
    <%= stylesheet_link_tag "report.css", :media => "all" %>

    <% if Rails.env.development? %>
      <link rel="icon" type="image/png" href="/favicon-dev.png">
    <% else %>
      <link rel="icon" type="image/png" href="/favicon.png">
    <% end %>

    <!--[if lte IE 9]>
    <%= javascript_include_tag "modernizr/modernizr.custom.js" %>
    <![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= params[:controller] %>-page theme-<%= @site.theme_id %> <%= "section-" + @page.top_parent.permalink if @page.present? %> <%= "linos-" + @page.permalink if @page.present? %>">
    <%= render 'partials/header_bootstrap' %>
    
    <main id="main-content" class="mod-explore">
        <h2 class="screen-reader">Main Content</h2>
        <%= render 'partials/explore/header' %>
        <%= yield %>
    </main>

    <%= render 'partials/footer_bootstrap' %>

    <%= requirejs_include_tag "report" %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= @site.google_analytics_id %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>

    <!-- START: Feedback -->
    <%= render 'shared/feedback' %>
    <!-- END: Feedback -->
  </body>
</html>
